<template>
    <main>
        <h1 class="gr-name p-up32 p-id96">About us</h1>
        <h3 class="gr-lc t-lh4 p-id64">idArchive&nbsp;&mdash; the source of&nbsp;the original brand identity. For
            inspiration and experience, trend tracking and knowledge of&nbsp;history.</h3>
        <h4 class="gr-rc e-facts p-id64">There are <span class="c-red t-nowrap">{{symbolicfiles}} logos</span>, <span
                class="c-red t-nowrap">{{designguides}} designguides</span>
            and <span class="c-red t-nowrap">{{brands}} brands</span> currently in&nbsp;the archive.</h4>
        <p class="gr-lc">Only real brands&rsquo; identity&nbsp;&mdash; trademarks, companies, funds and other
            organizations&nbsp;&mdash; has been collected and carefully systematized in&nbsp;the archive. Only
            accredited sources and original patterns: without odd curves and points, approximate colours and other
            garbage. The archive will be&nbsp;useful if&nbsp;you need to&nbsp;quickly find an&nbsp;accredited source
            with a&nbsp;specific brand, look at&nbsp;the latest version of&nbsp;its identity, compare it&nbsp;with a&nbsp;previous
            one or&nbsp;learn about its development.</p>
        <p class="gr-lc">The archive is&nbsp;also an&nbsp;irreplaceable tool for advertisers, designers, brand managers
            and other professionals that often deal with visual identity of&nbsp;brands at&nbsp;their work. For example,
            the monitoring of&nbsp;competitors, keeping track of&nbsp;identity trends, looking for graphical solutions
            and methods to&nbsp;develop new symbolics, etc.<br>
            Our advanced search allows you to&nbsp;promptly find any symbolics with the given parameters: from
            geographical location and a&nbsp;field to&nbsp;colour, font and graphical solutions.</p>
        <p class="gr-lc p-id32">You can send your questions, comments and feedback to&nbsp;<a
                href="mailto:info@idarchive.app">info@idarchive.app</a></p>
        <p class="gr-lc p-id96">
            <a href="#" class="l-local md-modal-open" @click.prevent="$modal.show('loginRegisterModal')">Registration
                and select plan</a>
        </p>
        <p class="gr-lc e-warning t-italic t-small">All images of&nbsp;the symbolics placed in&nbsp;the archive are the
            intellectual property of&nbsp;the owners of&nbsp;copyright and/or trademarks and are represented in&nbsp;the
            archive only for informational purposes, as&nbsp;well as&nbsp;for ease of&nbsp;use, but with the condition
            of&nbsp;proper permission from the copyright owner and/or trademark. Using the idArchive service, you agree
            to&nbsp;the terms of&nbsp;use of&nbsp;the symbolics and confirm that the symbolics you upload will not be&nbsp;used
            for commercial purposes and violate the rights of&nbsp;copyright and/or trademark holders, in&nbsp;accordance
            with the 1998&nbsp;DMCA act.<br>
            Before using the symbolics downloaded from the archive in&nbsp;any way, you are obliged to&nbsp;obtain
            explicit permission from the copyright owner and/or trademark. Failure to&nbsp;obtain such a&nbsp;permit is&nbsp;a&nbsp;violation
            of&nbsp;international copyright and trademark laws, is&nbsp;punishable by&nbsp;law and entails financial and
            criminal claims.</p>
    </main>
</template>

<script>
    export default {
        mounted() {
            window.scrollTo(0, 0);
        },
        data() {
            return {
                'symbolicfiles': 0,
                'designguides': 0,
                'brands': 0
            }
        },
        async asyncData({$axios, error}) {
            return $axios.get('/api/get_counters')
                .then(({data}) => {
                    return data
                })
                .catch(e => {
                    error({statusCode: 404, message: 'Server error'})
                });
        },
        methods: {},
        head() {
            return {
                title: 'About us',
                bodyAttrs: {
                    class: 'black-skin'
                }
            }
        }
    }
</script>