<template>
    <main>
        <h1 class="gr-name p-up32">Board: {{ board.title }}</h1>
        <ul class="gr-col e-select t-small p-id64">
        </ul>
        <section class="gr-block">
            <section v-for="symbolicfile in board.symbolicfiles" class="gr-tb">
                <div class="i-block">
                    <a :href="getDownloadPathSymbolic(symbolicfile)"
                       class="i-downl l-no"
                       :class="{'i-downl-select':symbolicfile.user.length}"
                       @click="setSymbolicDownloaded(symbolicfile)">
                        <img src="/images/icon/ico_download.svg" title="download"/>
                    </a>
                    <a href="#" class="i-pin l-no"
                       :class="{'i-pin-pinned': isPinned(symbolicfile.id)}"
                       @click.prevent.stop="pinUnpinSymbolicfile(symbolicfile.id)">
                        <img src="/images/icon/ico_pin.svg" title="pin on board"/>
                    </a>
                </div>
                <router-link
                        :to="{name: 'brandSymbolicfile', params: {brand_id:symbolicfile.symbolic.brand.id, 'symbolicfile_id':symbolicfile.id}}"
                        class="l-no p-op5-h">
                    <img :src="getImgPath(symbolicfile)" alt="">
                </router-link>

            </section>
        </section>
        <board-selector :payload="pinPayload"></board-selector>
    </main>
</template>

<script>
    import boardSelector from '~/components/boardSelector'
    import {mapGetters} from 'vuex'

    export default {
        middleware: 'auth',
        components: {
            boardSelector
        },
        props: [],
        computed: {
            board() {
                let board = this.$store.state.boards.boards.find(board => board.id == this.boardId);
                return board ? board : {};
            },
            ...mapGetters({
                isPinned: 'boards/isPinned',
                token: 'auth/token'
            })
        },
        data: function () {
            return {
                'boardId': this.$route.params.board_id,
                'symbolicfileId': 0,
                'pinPayload': {},
            }
        },
        methods: {
            getResults: function () {
                let data = this;
                this.results = [];
               this.$axios.get('/api/ajax_board/' + this.boardId)
                    .then(function (response) {
                        data.board = response.data;
                    })
            },
            getImgPath: function (resultObj) {
                let jsonData = JSON.parse(resultObj.fileprev);
                return '/storage/' + jsonData[0].download_link;
            },
            getDownloadPathSymbolic: function (resultObj) {
                return '/download/symbolicfile/' + resultObj.id;
            },
            pinUnpinSymbolicfile: function (sId) {
                if (!this.isPinned(sId)) {
                    this.pinPayload = sId;
                    this.$modal.show('boardSelector');
                } else {
                    this.$store.dispatch('mainpage/setMessage', 'Removed from the board');
                    this.$store.dispatch('boards/unpinSymbolicfile', sId);
                }
            },
            setSymbolicDownloaded(symbolicfile) {
                this.$store.dispatch('boards/updateBoards')
            }
        },
        beforeRouteUpdate(to, from, next) {
            this.queryString = to.params.query;
            this.getResults();
            next();
        },
        head() {
            return {
                title: 'Board',
            }
        }

    }
</script>
