<template>
    <main>
        <h1 class="gr-name p-up32 p-id64">Boards</h1>
        <h3 v-if="!boards.length && !loading" class="gr-col p-up0">You have no&nbsp;boards</h3>
        <section v-if="boards.length && !loading" class="gr-full">
            <a href="#" class="board-sort board-sort-name l-no" :class="{'board-select':sorting.param === 'title'}"
               @click.prevent="sortBy('title')"></a>
            <a href="#" class="board-sort board-sort-count p-end l-no"
               :class="{'board-select':sorting.param === 'count'}"
               @click.prevent="sortBy('count')"></a>
            <a href="#" class="board-sort board-sort-date p-end l-no"
               :class="{'board-select':sorting.param === 'created_at'}"
               @click.prevent="sortBy('created_at')"></a>
        </section>
        <ul v-if="boards.length && !loading" class="gr-full board-list">
            <li v-for="board in boards" class="gr-full" :class="[board.color.class]">
                <img class="board-icon" :src="getLogoPath(board.logo)">
                <router-link v-if="!board.showTitleInput" :to="{name:'board', params:{board_id: board.id}}"
                             class="board-name t-big l-no">{{board.title}}
                </router-link>
                <input v-if="board.showTitleInput" type="text" class="board-name-input" :value="board.title"
                       @keyup.enter="renameBoard(board, $event.target.value)"/>
                <p class="board-count t-small p-end">{{board.symbolicfiles.length}}</p>
                <p class="board-date t-small c-gray p-end">{{getDateFormated(board.created_at)}}</p>
                <section class="board-inst p-end">
                    <a href="#" class="bg-circle l-no"
                       @click.prevent="$store.commit('boards/setBoardColorSelector', {id: board.id, value: true})">
                        <img src="images/icon/ico_board_circle.svg">
                    </a>
                    <board-color-select v-if="board.showColorSelector"
                                        :colors="colors"
                                        @color-selected="changeBoardColor(board, $event)"></board-color-select>
                    <a href="#" class="bg-pen l-no md-modal-open"
                       @click.prevent="$store.commit('boards/setBoardTitleInput', {id:board.id, value: !board.showTitleInput})"><img
                            src="images/icon/ico_board_pen.svg"></a>
                    <a href="#md-delete-boards" class="bg-cross md-modal-open"
                       @click.prevent="showDeleteModal(board)"><img
                            src="images/icon/ico_board_crest.svg"></a>
                </section>
            </li>
        </ul>
        <modal name="delete-board" :height="'auto'" :width="320" :scrollable="true">
            <section class="md-modal-content">
                <section class="md-modal-close p-op4inv-h" @click.prevent="$modal.hide('delete-board')"></section>
                <h4 class="c-orange p-id24">Are you sure want to&nbsp;remove board?</h4>
                <button type="submit" @click.prevent="deleteBoard()">Yes</button>
                <button class="b-reset md-modal-cencel" @click.prevent="$modal.hide('delete-board')">no</button>
            </section>
        </modal>
    </main>
</template>

<script>

    import boardColorSelect from '~/components/boardColorSelect';
    //import axios from 'axios';
    export default {
        middleware: 'auth',
        components: {
            boardColorSelect
        },
        props: [],
        data: function () {
            return {
                colors: [],
                sorting: {
                    param: 'created_at',
                    directionAsc: true,
                },
                boardToDelete: {},
                loading: true,
            }
        },
        computed: {
            boards: function () {
                return this.$store.state.boards.boards;
            },
        },
        watch: {},
        created() {
            this.getColors();
            this.getBoards();
        },
        methods: {
            async getBoards() {
                await this.$store.dispatch('boards/updateBoards');
                this.loading = false;
            },
            getLogoPath: function (logoObj) {
                let jsonData = JSON.parse(logoObj.path);
                return '/storage/' + jsonData[0].download_link;
            },
            getDateFormated(date) {
                let dateObj = new Date(date);
                let options = {
                    day: 'numeric',
                    month: 'long',
                    year: 'numeric'
                };
                return dateObj.toLocaleDateString('en-US', options)
            },
            getColors: function () {
               this.$axios.get('/api/ajax_get_colors').then(response => {
                    this.colors = response.data;
                })
            },
            changeBoardColor: function (board, colorId) {
               this.$axios.get('/api/ajax_change_board_color/' + board.id + '/' + colorId)
                    .then(response => {
                        this.$store.commit('boards/setBoardColorSelector', {id: board.id, value: false});
                        this.getBoards();
                    })
            }
            ,
            renameBoard: function (board, title) {
               this.$axios.post('/api/ajax_rename_board/' + board.id, {
                    title: title
                }).then(response => {
                    this.$store.commit('boards/setBoardTitleInput', {id: board.id, value: false});
                    this.getBoards();
                })
            }
            ,
            showDeleteModal: function (board) {
                this.boardToDelete = board;
                this.$modal.show('delete-board');
            }
            ,
            deleteBoard: function () {
               this.$axios.get('/api/ajax_delete_board/' + this.boardToDelete.id)
                    .then(response =>{
                        this.getBoards();
                        this.$modal.hide('delete-board');
                    })
            }
            ,
            compare(a, b) {
                if (this.sorting.param === 'count') {
                    if (a.symbolicfiles.length < b.symbolicfiles.length)
                        return -1;
                    if (a.symbolicfiles.length > b.symbolicfiles.length)
                        return 1;
                    return 0;
                } else {
                    if (a[this.sorting.param].toLowerCase() < b[this.sorting.param].toLowerCase())
                        return -1;
                    if (a[this.sorting.param].toLowerCase() > b[this.sorting.param].toLowerCase())
                        return 1;
                    return 0;
                }

            }
            ,
            sortBy(param) {
                this.sorting.param = param;
                this.$store.commit('boards/sortBoards', this.compare);
            }
        },
        head() {
            return {
                title: 'Boards',
            }
        }

    }
</script>
