<template>
    <main>
        <h1 class="gr-name p-up32">{{brand.title}}
            <span>
                <span v-if="brand.predecessor !== undefined && brand.predecessor[0] !== undefined">
                    <nuxt-link v-for="predecessor in brand.predecessor"
                                 :to="{name:'brand', params: {brand_id:predecessor.id}}" title="predecessor">{{predecessor.title}}</nuxt-link>
                </span>
                <span v-if="brand.parent !== undefined && brand.parent[0] !== undefined">
                    <nuxt-link v-for="parent in brand.parent"
                                 :to="{name:'brand', params: {brand_id:parent.id}}" title="parent">{{parent.title}}</nuxt-link>
                </span>
            </span>
        </h1>
        <ul class="gr-col e-param-list t-small">
            <li v-if="brand.country != null">{{brand.country.title}}</li>
            <li v-if="brand.brandtype!=null">{{brand.brandtype.title}}</li>
            <li>
                <ul>
                    <li v-for="sector in brand.sectors">{{sector.title}}</li>
                </ul>
            </li>
        </ul>
        <ul v-if="brand.site != null" class="gr-col e-select t-small">
            <li><a :href="brand.site.sitelink" target="_blank">{{brand.site.title}}</a></li>
        </ul>
        <section v-for="symbolic in brand.symbolics" class="gr-full e-logo-block">
            <section class="e-logo-img" :id="'symbolic-'+symbolic.id">
                <img id="l-preview" :src="symbolic.imgPreviewPath" @load="scrollToSymbolic(symbolic)">
            </section>
            <section class="e-logo-info">
                <ul v-if="symbolic.authors.length || symbolic.years.length" class="e-author-year p-id16">
                    <li v-for="author in symbolic.authors">{{author.title}}</li>
                    <li v-for="year in symbolic.years">{{year.title}}</li>
                </ul>
                <ul :id="'rate'+symbolic.rating" class="e-rating">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </section>
            <section class="e-logo-file">
                <ul id="file-list">
                    <li v-for="(symbolicfile, index) in symbolic.symbolicfiles">
                        <a v-if="authenticated" :href="getDownloadPathSymbolic(symbolicfile)"
                           @mouseover="symbolicHover(symbolic, index)"
                           v-bind:class="{'l-select': symbolicfile.hovered}">{{symbolicfile.title}}</a>
                        <a v-else href="#" @mouseover="symbolicHover(symbolic, index)"
                           @click.prevent="$modal.show('downloadNoRegModal')"
                           v-bind:class="{'l-select': symbolicfile.hovered}">{{symbolicfile.title}}</a>
                        <sup>{{symbolicfile.filetype.title}}</sup>
                    </li>
                </ul>
                <ul>
                    <li v-for="designguide in symbolic.designguides">
                        <a v-if="authenticated" :href="getDownloadPathDesignguide(designguide)" target="_blank">{{designguide.title}}</a>
                        <a v-else href="#" @click.prevent="$modal.show('downloadNoRegModal')">{{designguide.title}}</a>
                        <sup>{{designguide.filetype.title}}</sup>
                    </li>
                    <li v-for="material in symbolic.materials">
                        <a v-if="authenticated" :href="getDownloadPathMaterial(material)" target="_blank">{{material.title}}</a>
                        <a v-else href="#" @click.prevent="$modal.show('downloadNoRegModal')">{{material.title}}</a>
                        <sup>{{material.filetype.title}}</sup>
                    </li>
                </ul>
            </section>
        </section>
    </main>
</template>

<script>
    import {mapGetters} from 'vuex'
    //import axios from 'axios'

    export default {
        components: {},
        props: [],
        computed: {
            ...mapGetters({
                authenticated: 'auth/check'
            }),
        },
        data: function () {
            return {
                'id': 0,
                'brand': {},
                'symbolicMoveToId': null,
            }
        },
        async asyncData({$axios, params, error}) {
            return $axios.get('/api/ajax_brand?id=' + params.brand_id)
                .then(({data}) => {
                    return {
                        brand: data,
                        id: params.brand_id,
                    }
                })
                .catch(e => {
                    error({statusCode: 404, message: 'Brand not found'})
                });
        },
        created() {
            this.processBrandData();
        },
        methods: {
            processBrandData() {
                this.brand.symbolics.forEach((symbolic) => {
                    symbolic.imageLoaded = false;
                    if (symbolic.symbolicfiles.length) {
                        this.$set(symbolic, 'imgPreviewPath', this.getImgPath(symbolic.symbolicfiles[0]));
                        symbolic.symbolicfiles[0].hovered = true;
                        let symbolicFileToHover = symbolic.symbolicfiles.find(symbolicfile => this.$route.params.symbolicfile_id == symbolicfile.id);
                        if (symbolicFileToHover) {
                            this.$set(symbolic, 'imgPreviewPath', this.getImgPath(symbolicFileToHover));
                            symbolic.symbolicfiles[0].hovered = false;
                            symbolicFileToHover.hovered = true;
                            this.symbolicMoveToId = symbolic.id;
                        }
                    }
                });
            },
            getImgPath: function (resultObj) {
                if (resultObj) {
                    let jsonData = JSON.parse(resultObj.fileprev);
                    return '/storage/' + jsonData[0].download_link;
                }
                return "";
            },
            getDownloadPathSymbolic: function (resultObj) {
                return '/download/symbolicfile/' + resultObj.id;
            },
            getDownloadPathDesignguide: function (resultObj) {
                if (resultObj.link == null) {
                    return '/download/designguide/' + resultObj.id;
                }
                return resultObj.link;
            },
            getDownloadPathMaterial: function (resultObj) {
                if (resultObj.link == null) {
                    return '/download/material/' + resultObj.id;
                }
                return resultObj.link;
            },
            symbolicHover: function (symbolic, index) {
                symbolic.imgPreviewPath = this.getImgPath(symbolic.symbolicfiles[index]);
                symbolic.symbolicfiles.forEach(function (symbolicfile) {
                    symbolicfile.hovered = false;
                });
                symbolic.symbolicfiles[index].hovered = true;
            },
            scrollToSymbolic: function (symbolic) {
                //let data = this;
                symbolic.imageLoaded = true;
                if (!this.brand.symbolics.find(symbolic => symbolic.imageLoaded !== true)) {
                    this.$nextTick(() => {
                        if (this.symbolicMoveToId !== null) {
                            this.$scrollTo("#symbolic-" + this.symbolicMoveToId);
                            this.symbolicMoveToId = null;
                        }
                    })

                }
            }
        },
        head() {
            return {
                title: this.brand.title,
            }
        }

    }
</script>
