<template>

    <main v-lazy:background-image="brandImageSrc">
        <transition name="fade">
            <div v-show="preloader" class="preloader"></div>
        </transition>
        <h1 class="slogan"><span>idArchive&nbsp;&mdash; the source of&nbsp;the original brand identity. For inspiration and experience, trend tracking and knowledge of&nbsp;history.</span>
        </h1>
        <p class="i-notice-link t-small">
            <router-link :to="{name: 'brand', params: {brand_id:brandId}}">{{brandTitle}}</router-link>
        </p>
    </main>

</template>

<script>
    //import axios from 'axios'
    import {mapState} from 'vuex'

    export default {
        computed: {
            ...mapState({
                brandId: state => state.mainpage.brandId,
                brandTitle: state => state.mainpage.brandTitle,
                brandImageSrc: state => state.mainpage.brandImageSrc
            }),
        },

        components: {},
        props: [],
        data: function () {
            return {
                'preloader': true,
            }
        },
        mounted() {
            this.$Lazyload.$once('loaded', ({el, src}) => {
                this.preloader = false;
            })
        },
        methods: {},
        head() {
            return {
                titleTemplate: process.env.APP_NAME
            }
        }

    }
</script>
<style scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity 1s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>