<template>
    <main>
        <h1 class="gr-name p-up32 p-id96">DMCA Privacy</h1>
        <p class="gr-lc">It is our policy to respond to clear notices of alleged copyright infringement that comply with
            the Digital Millennium Copyright Act. In addition, we will promptly terminate without notice the accounts of
            those determined by us to be “repeat infringers.”</p>
        <p class="gr-lc p-id64">If you believe that your work has been copied in such a manner as to represent a
            copyright infringement, please notify idArchive so that the situation can be promptly addressed. idArchive
            can be reached via <a href="mailto:info@idarchive.app">email</a>.</p>
        <p class="gr-lc p-id8">In your notification, please provide idArchive with the following information:</p>
        <ul class="gr-lc mdash">
            <li>An electronic or physical signature of the person authorized to act on behalf of the copyright owner;
            </li>
            <li>A description of the copyrighted work that you claim has been infringed;</li>
            <li>A description of where on our site the material is located;</li>
            <li>Your address, telephone number and email address;</li>
            <li>A statement by you that you have a good faith belief that the use is not authorized by the copyright
                owner, its agent or the law.
            </li>
        </ul>
        <p class="gr-lc p-up48 p-id64">A statement by you, made under penalty of perjury, that the information in your
            Notice is accurate and that you’re the copyright owner or authorized to act on behalf of the copyright
            owner.</p>
        <h4 class="gr-lc">Please note that under Section 512(f) of the DMCA, any person who knowingly materially
            misrepresents that material or activity is infringing may be subject to liability.</h4>
    </main>
</template>

<script>
    export default {
        name: "privacyDmca",
        mounted() {
            window.scrollTo(0, 0);
        },
        head() {
            return {
                title: 'Privacy DMCA'
            }
        }

    }
</script>

<style scoped>

</style>