<template>
    <main>
        <h1 class="gr-name p-up32 p-id96">Privacy policy</h1>
        <p class="gr-lc p-id64">Privacy and user data protection is&nbsp;important. The following are the types of&nbsp;personal data that we&nbsp;collect about idArchive users along with the methods to&nbsp;use and protect this data.</p>
        <h4 class="gr-lc">Log files</h4>
        <p class="gr-lc p-id32">The idArchive website uses log files. The server automatically records the standard data provided by&nbsp;your web browser: the&nbsp;IP address of&nbsp;the computer, the type and version of&nbsp;the browser, the pages visited, the time and date of&nbsp;the visit, the time spent on&nbsp;the page, etc.<br>
            The information in&nbsp;the log files, which is&nbsp;necessary for ensuring the use of&nbsp;the site by&nbsp;the user, is&nbsp;of&nbsp;a&nbsp;temporary nature, and is&nbsp;permanently deleted after a&nbsp;short period of&nbsp;time.</p>
        <h4 class="gr-lc">Cookies and Web Beacons</h4>
        <p class="gr-lc p-id32">idArchive uses cookies to&nbsp;record and store information about your preferences, personalization or&nbsp;customize site content.<br>
            If&nbsp;you want to&nbsp;disable cookies, you can do&nbsp;this using your browser settings.</p>
        <h4 class="gr-lc">Personal information</h4>
        <p class="gr-lc p-id32">To&nbsp;use a&nbsp;certain functionality of&nbsp;the site, you may need personal data, such&nbsp;as: name, surname, email, profiles in&nbsp;social networks and payment information. This data is&nbsp;used exclusively on&nbsp;the idArchive website and is&nbsp;not available to&nbsp;third parties. Also, we&nbsp;do&nbsp;not have direct access to&nbsp;your payment data.<br>
            We&nbsp;do&nbsp;not sell or&nbsp;share your personal information to&nbsp;third parties in&nbsp;any other way.</p>
        <h4 class="gr-lc">Limits of our privacy policy</h4>
        <p class="gr-lc p-id64">Our site may link to&nbsp;external sites that are not operated by&nbsp;us. We&nbsp;do&nbsp;not control the content and policies of&nbsp;these sites and cannot accept responsibility or&nbsp;liability for their respective privacy practices.</p>
        <p class="gr-lc">If&nbsp;you need more information or&nbsp;have questions about our privacy policy, please contact&nbsp;us by&nbsp;<a href="mailto:info@idarchive.app">email</a>.</p>
        <p class="gr-lc">By&nbsp;using our site, you agree to&nbsp;our privacy policy and its terms. We&nbsp;reserve the right to&nbsp;make changes to&nbsp;the terms of&nbsp;this privacy policy, without prior notice to&nbsp;users.</p>
        <p class="gr-rc t-small">This document was updated on&nbsp;December&nbsp;17, 2018.</p>
    </main>
</template>

<script>
    export default {
        name: "privacyPolicy",
        mounted() {
            window.scrollTo(0, 0);
        },
        head() {
            return {
                title: 'Privacy policy'
            }
        }

    }
</script>

<style scoped>

</style>