<template>
    <main>
        <h1 class="gr-name p-up32 p-id64">Profile</h1>
        <section class="gr-profile p-id64">
            <section>
                <section class="input-field p-id32">
                    <input name="name" id="name-field" type="text" class="validate" v-model="name"
                           @input="changed = true">
                    <label for="name-field" :class="{'active': name!==''}">Name</label>
                    <p v-for="error in errors.name" class="field-message c-red t-italic t-small">{{error}}</p>
                </section>
                <section class="input-field p-id32">
                    <input name="mail" id="mail-field" type="text" class="validate" v-model="email"
                           @input="changed = true">
                    <label for="mail-field" :class="{'active': email!==''}">Email</label>
                    <p v-for="error in errors.email" class="field-message c-red t-italic t-small">{{error}}</p>
                </section>
                <section class="input-field p-id32">
                    <input v-model="password" name="password" id="password-field" type="password" class="validate"
                           onfocus="this.type='text';"
                           onclick="this.type='text';" onblur="this.type='password';" @input="changed = true">
                    <label for="password-field" :class="{'active':password.length}">Password</label>
                    <p v-for="error in errors.password" class="field-message c-red t-italic t-small">{{error}}</p>
                </section>
                <section class="input-field">
                    <p class="t-small c-gray p-id0">Tariff plan</p>
                    <p class="t-big">
                        <a v-if="currentPlan == 0" href="#" class="md-modal-open l-local"
                           @click.prevent="$modal.show('tariffPlansModal')">Free</a>
                        <a v-if="currentPlan == 1" href="#" class="md-modal-open l-local"
                           @click.prevent="$modal.show('tariffPlansModal')">Personal</a>
                        <a v-if="currentPlan == 2" href="#" class="md-modal-open l-local"
                           @click.prevent="">Corporate</a>
                        <a v-if="currentPlan == 3" href="#" class="md-modal-open l-local"
                           @click.prevent="$modal.show('tariffPlansModal')">Corporate</a>
                        <sup v-if="currentPlan" class="l-date c-gray">active until {{
                            userData.subscription.validThrough}}</sup>
                        <sup v-else class="l-date c-gray">active forever</sup></p>
                </section>
            </section>
            <section v-if="currentPlan == 3">
                <h3 class="p-id16">Other users</h3>
                <div class="d-userlist" v-for="(sub,key) in userData.subscription.child_subscriptions">
                    <a href="#" class="l-local" @click.prevent="changeCorporateUser(sub)">
                        {{++key}} {{sub.user.email ? sub.user.email: 'user'}}
                    </a>
                </div>
                <a v-if="userData.subscription.child_subscriptions.length < 9" href="#" class="l-local p-up32"
                   @click.prevent="addCorporateUser()">Add new
                    user</a>
            </section>
            <section></section><!--Третья колонка для форм, если нужно -->
        </section>
        <section class="gr-col">
            <button type="submit" :disabled=!validated @click="saveUser()">Save</button>
            <a href="#" class="md-modal-open button-reset"
               @click.prevent="$modal.show('deleteAccount')">delete account</a>
        </section>

        <modal name="deleteAccount" :height="'auto'" :width="320">
            <section class="md-modal-content">
                <section class="md-modal-close p-op4inv-h" @click="$modal.hide('deleteAccount')"></section>
                <h4 class="c-orange p-id24">Are you sure delete your account?</h4>
                <button type="submit"
                        @click.prevent="$modal.hide('deleteAccount')">no
                </button>
                <button class="b-reset"
                        @click.prevent="deleteAccount()">Yes
                </button>
            </section>
        </modal>
        <modal name="corporateUserModal" :height="'auto'" :width="320">
            <section id="md-add-user" class="md-modal">
                <section class="md-modal-content">
                    <section class="md-modal-close p-op4inv-h" @click="$modal.hide('corporateUserModal')"></section>
                    <h4 v-if="subscriptionId === 0" class="p-id24">Add user</h4>
                    <h4 v-else class="p-id24">Change user</h4>
                    <section class="input-field">
                        <input name="mail" id="mail-field" type="text" class="validate" v-model="corporateEmail"
                               @input="corporateChanged = true">
                        <label for="mail-field" :class="{'active': corporateEmail!==''}">Email</label>
                        <p class="field-message c-red t-italic t-small"></p>
                    </section>
                    <button type="submit" :disabled="!corporateValidated" @click.prevent="saveCorporateUser()">Save
                    </button>
                    <button v-if="subscriptionId" class="b-reset md-modal-cencel"
                            @click.prevent="unsubscribeCorporateUser()">delete user
                    </button>
                </section>
            </section>
        </modal>
    </main>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        middleware: 'auth',
        components: {},
        props: [],
        computed: {
            validated() {
                return this.email.length > 5 && this.email.includes('@') && (this.password.length > 5 || this.password.length === 0) && this.changed;
            },
            corporateValidated() {
                return this.corporateEmail.length > 5 && this.corporateEmail.includes('@') && this.corporateChanged;
            },
            ...mapGetters({
                userData: 'auth/user',
                subscription: 'auth/subscription',
                currentPlan: 'auth/currentPlan',
                authenticated: 'auth/check'
            }),
        },
        data: function () {
            return {
                'name': '',
                'email': '',
                'password': '',
                'corporateEmail': '',
                'subscriptionId': 0,
                'errors': {},
                'changed': false,
                'corporateChanged': false,
                'lastId': 0,
            }
        },
        watch: {
            'userData': function (val) {
                if (val) {
                    this.name = val.name;
                    this.email = val.email;
                }
            },
        },
        mounted() {
            if (this.$route.query.showTariffPlansModal !== undefined) {
                this.$modal.show('tariffPlansModal');
            }
            if (this.$route.query.tariffChanged !== undefined) {
                this.$store.dispatch('mainpage/setMessage', 'Your tariff has been changed');
            }
            this.name = _.isEmpty(this.userData) ? '' : this.userData.name;
            this.email = _.isEmpty(this.userData) ? '' : this.userData.email;
        },
        created() {
            if (!this.authenticated) {
                this.$router.push({name: 'index'});
            }
        },
        methods: {
            addCorporateUser() {
                this.corporateEmail = '';
                this.subscriptionId = 0;
                this.$modal.show('corporateUserModal');
            },
            changeCorporateUser(sub) {
                this.corporateChanged = false;
                this.subscriptionId = sub.id;
                this.corporateEmail = sub.user.email;
                this.$modal.show('corporateUserModal');
            },
            saveCorporateUser() {
                let data = {
                    'email': this.corporateEmail,
                };
                if (this.subscriptionId) data.subscription_id = this.subscriptionId;

               this.$axios.post('/api/ajax_save_corporate_user', data).then((response) => {
                    this.$store.dispatch('mainpage/setMessage', response.data.message);
                    this.$store.dispatch('auth/fetchUser');
                    this.$modal.hide('corporateUserModal');
                }).catch((e) => {
                    this.$store.dispatch('mainpage/setMessage', e.response.data.message);
                })
            },
            deleteAccount() {
               this.$axios.get('/api/ajax_delete_account')
                    .then(responce => {
                        this.$store.dispatch('mainpage/setMessage', 'Your account has been deleted');
                        this.$store.dispatch('auth/logout');
                        this.$router.push({name: 'index'});
                    })
            },
            saveUser() {
                let data = {
                    'name': this.name,
                    'email': this.email,
                };
                if (this.password) data.password = this.password;

               this.$axios.post('/api/ajax_save_user', data).then((responce) => {
                    this.changed = false;
                    this.$store.dispatch('mainpage/setMessage', 'Changes saved');
                    this.$store.dispatch('auth/fetchUser');
                }).catch(function (e) {
                    this.errors = e.response.data.errors;
                })
            },
            unsubscribeCorporateUser() {
               this.$axios.get('/api/ajax_unsubscribe_corporate_user/' + this.subscriptionId)
                    .then(response => {
                        this.$store.dispatch('mainpage/setMessage', response.data.message);
                        this.$store.dispatch('auth/fetchUser');
                        this.$modal.hide('corporateUserModal');
                    }).catch(e => this.$store.dispatch('mainpage/setMessage', e.response.data.message))
            }
        },
        head() {
            return {
                title: 'Profile'
            }
        }

    }
</script>
