<template>
    <main>
        <h1 class="gr-name p-up32">Search result for: {{ this.$route.params.query }}</h1>
        <ul class="gr-col e-select t-small p-id64">
            <li v-if="symbolicfiles.length && currentPlan > 0">
                <a href="#" class="l-local i-pin" @click.prevent="pinAllToBoard()">
                    <img src="/images/icon/ico_pin.svg" class="" alt=""/>Add everything to&nbsp;the board</a>
            </li>
        </ul>
        <section class="gr-block">
            <section v-for="symbolicfile in symbolicfiles" class="gr-tb">
                <div class="i-block">
                    <a v-if="authenticated" :href="getDownloadPathSymbolic(symbolicfile)"
                       class="i-downl l-no" :class="{'i-downl-select':symbolicfile.user.length}"
                       @click="setSymbolicDownloaded(symbolicfile)">
                        <img src="/images/icon/ico_download.svg" title="download"/>
                    </a>
                    <a v-if="authenticated && currentPlan > 0" href="#" class="i-pin l-no"
                       :class="{'i-pin-pinned': isPinned(symbolicfile.id)}"
                       @click.prevent.stop="pinUnpinSymbolicfile(symbolicfile.id)">
                        <img src="/images/icon/ico_pin.svg" title="pin on board"/>
                    </a>
                </div>
                <router-link
                        :to="{name: 'brandSymbolicfile', params: {brand_id:symbolicfile.brand_id, 'symbolicfile_id':symbolicfile.id}}"
                        class="l-no p-op5-h">
                    <img :src="getImgPath(symbolicfile)" alt="">
                </router-link>

            </section>
            <no-results v-if="!symbolicfiles.length && !loading"></no-results>
        </section>
        <board-selector :payload="pinPayload"></board-selector>
    </main>
</template>

<script>

    import boardSelector from '~/components/boardSelector'
    import noResults from '~/components/searchNoResults'
    import {mapGetters} from 'vuex';
    //import axios from 'axios'

    export default {
        components: {
            boardSelector,
            noResults,
        },
        props: [],
        computed: {
            ...mapGetters({
                currentPlan: 'auth/currentPlan',
                authenticated: 'auth/check',
                isPinned: 'boards/isPinned'
            })
        },
        data: function () {
            return {
                'queryString': this.$route.params.query,
                'symbolicfiles': [],
                'pinPayload': 0,
                'loading': true,
            }
        },
        mounted() {
            this.getResults();
        },
        methods: {
            getResults: function () {
                let data = this;
                this.$axios.get('/api/ajax_search?q=' + encodeURIComponent(this.queryString))
                    .then(responce => {
                        this.symbolicfiles = [];
                        responce.data.forEach(function (brand) {
                            brand.symbolics.forEach((function (symbolic) {
                                symbolic.symbolicfiles.forEach((function (symbolicfile) {
                                    symbolicfile.brand_id = brand.id;
                                    data.symbolicfiles.push(symbolicfile);
                                }).bind(brand));
                            }).bind(brand))
                        });
                        data.loading = false;
                    })
            },
            getImgPath: function (resultObj) {
                try {
                    if (resultObj.fileprev !== undefined) {
                        let jsonData = JSON.parse(resultObj.fileprev);
                        return '/storage/' + jsonData[0].download_link;
                    }
                } catch (e) {
                    console.log(e)
                }
                return '';
            },
            getDownloadPathSymbolic: function (resultObj) {
                return '/download/symbolicfile/' + resultObj.id;
            },
            /*            getAuth: function () {
                            this.authenticated = document.head.querySelector('meta[name="auth"]') != null ? 1 : 0;
                        },*/
            pinUnpinSymbolicfile: function (sId) {
                if (!this.isPinned(sId)) {
                    this.pinPayload = sId;
                    //this.$emit('modal', '#md-pin-to-board');
                    this.$modal.show('boardSelector');
                } else {
                    this.$store.dispatch('mainpage/setMessage', 'Removed from the board');
                    this.$store.dispatch('boards/unpinSymbolicfile', sId);
                }
            },
            pinAllToBoard() {
                this.pinPayload = this.symbolicfiles;
                this.$modal.show('boardSelector');
            },
            setSymbolicDownloaded(symbolicfile) {
                symbolicfile.user.push({});
            }
        },
        beforeRouteUpdate(to, from, next) {
            this.queryString = to.params.query;
            //console.log(to);
            this.getResults();
            next();
        },
        head() {
            return {
                title: 'Search'
            }
        }

    }
</script>
