<template>
    <main>
        <form v-show="showSearchForm" id="search-advanced" method="get" action="/api/ajax_search_advanced"
              @submit.prevent="search()">
            <h1 class="gr-name p-up32 p-id64">Advanced search</h1>
            <section class="gr-search p-id64">
                <search-parameter title="Brand type" name="brandtype" :data="params.brandtypes"></search-parameter>
                <search-parameter title="Sector" name="sector" :data="params.sectors" with-line="1"
                                  @param-selected="getIndustries()"></search-parameter>
                <search-parameter title="Industry" name="industry" :data="params.industries"></search-parameter>
                <search-parameter title="Region" name="region" :data="params.regions"
                                  @param-selected="getCountries()" with-line="1"></search-parameter>
                <search-parameter title="Country" name="country" :data="params.countries"></search-parameter>
                <search-parameter title="Target audience" name="targetaudience"
                                  :data="params.targetaudiences"></search-parameter>

            </section>
            <h3 class="gr-col p-id32" id="par-symbolics-link">
                <a href="#show-par-symbolics" :class="{'l-local': true, 'on': showSymbolicParams}"
                   @click.prevent="showSymbolicParams=!showSymbolicParams">
                    Symbolics parameters
                </a>
            </h3>
            <transition name="slide">
                <section v-show="showSymbolicParams" class="gr-search p-id64" id="par-symbolics">
                    <search-parameter title="Year creation" name="year" :data="params.years"></search-parameter>
                    <search-parameter title="Language" name="language" :data="params.languages"></search-parameter>
                    <search-parameter title="Author" name="author" :data="params.authors"></search-parameter>

                    <section class="attr-block">
                        <section class="attr-head t-small c-gray">Status</section>
                        <ul class="attr-list attr-twopar">
                            <li>
                                <input type="checkbox" id="status-active" name="status[]" value="1" v-model="status"
                                       checked>
                                <label for="status-active">Active</label>
                            </li>
                            <li>
                                <input type="checkbox" id="status-old" name="status[]" value="0" v-model="status">
                                <label for="status-old">Old</label>
                            </li>
                        </ul>
                        <section class="attr-head-rating t-small c-gray">Rating</section>
                        <div id="rating-input">
                            <input id="star-5" type="radio" name="rating" value="5" v-model="rating"/>
                            <label title="perfect" for="star-5"></label>
                            <input id="star-4" type="radio" name="rating" value="4" v-model="rating"/>
                            <label title="good" for="star-4"></label>
                            <input id="star-3" type="radio" name="rating" value="3" v-model="rating"/>
                            <label title="normal" for="star-3"></label>
                            <input id="star-2" type="radio" name="rating" value="2" v-model="rating"/>
                            <label title="bad" for="star-2"></label>
                            <input id="star-1" type="radio" name="rating" value="1" v-model="rating"/>
                            <label title="terribly" for="star-1"></label>
                        </div>
                    </section>
                    <section class="attr-block">
                        <section class="attr-head t-small c-gray">Designguide</section>
                        <ul class="attr-list attr-onepar">
                            <li class="p-id0">
                                <input type="checkbox" id="designguide-available" name="designguide" value="1"
                                       v-model="designguide">
                                <label for="designguide-available">Аvailable</label></li>
                        </ul>
                    </section>
                </section>
            </transition>
            <h3 class="gr-col p-id32" id="par-extra-link">
                <a href="#show-par-extra" @click.prevent="showExtraOptions=!showExtraOptions" class="l-local">Extra
                    options</a>
            </h3>
            <transition name="slide">
                <section v-show="showExtraOptions" class="gr-search p-id32" id="par-extra">
                    <search-parameter title="Symbol type" name="symboltype"
                                      :data="params.symboltypes"
                                      additional-name="symboltypeadd"
                                      :additional-data="params.symboltypeadds"></search-parameter>
                    <search-parameter title="Fonts" name="fonttypes" :data="params.fonttypes"></search-parameter>
                    <search-parameter title="Colors" name="colors" :data="params.colors" :attrs="['attr-fivepar']">
                        <section class="attr-down-only">
                            <div class="attr-head-line-only"></div>
                            <input type="checkbox" id="colors-only" name="colorsexact" value="1" v-model="colorsexact">
                            <label for="colors-only"><span class="t-small italic">Only this colors</span></label>
                        </section>
                    </search-parameter>
                    <search-parameter title="Symbolics type" name="visualkind"
                                      :data="params.visualkinds"></search-parameter>
                    <search-parameter title="Technique" name="technique" :data="params.techniques"></search-parameter>
                    <search-parameter title="Form" name="form" :data="params.forms"></search-parameter>
                    <search-parameter title="Simple shapes" name="simpleshape"
                                      :data="params.simpleshapes"></search-parameter>
                    <search-parameter title="Symbol" name="symbol" :data="params.symbols"></search-parameter>
                </section>
            </transition>
            <section class="gr-col p-up64">
                <button type="submit" :disabled="!validateSearch || !resultsCount">Search {{
                    validateSearch?`(${resultsCount})`:''}}
                </button>
                <button class="b-reset" @click.prevent="resetParams()">reset parameters</button>
            </section>
        </form>
        <div v-show="!showSearchForm" class="search-results">
            <h1 class="gr-name p-up32">Searching Results</h1>
            <ul class="gr-col e-select t-small p-id64">
                <li>
                    <router-link :to="{name:'search_advanced'}">Change search parameters</router-link>
                </li>
                <li v-if="results.length && currentPlan > 0"><a
                        href="#" class="l-local i-pin" @click.prevent="pinAllToBoard()">
                    <img src="/images/icon/ico_pin.svg" class="" alt=""/>
                    Add everything to the board</a></li>
            </ul>
            <section class="gr-block" :class="{'e-blur': currentPlan == 0}">
                <section v-for="symbolicfile in results" class="gr-tb">
                    <div class="i-block">
                        <a v-if="authenticated" :href="getDownloadPathSymbolic(symbolicfile)" class="i-downl l-no"
                           :class="{'i-downl-select':symbolicfile.user.length}"
                           @click="setSymbolicDownloaded(symbolicfile)"><img
                                src="/images/icon/ico_download.svg" title="download"/></a>
                        <a v-if="authenticated && currentPlan > 0" href="#" class="i-pin l-no"
                           :class="{'i-pin-pinned': isPinned(symbolicfile.id)}"
                           @click.prevent="pinUnpinSymbolicfile(symbolicfile.id)">
                            <img src="/images/icon/ico_pin.svg" title="pin on board"/>
                        </a>
                    </div>
                    <router-link :to="{name: 'brandSymbolicfile', params:
                        {
                        'brand_id':symbolicfile.symbolic.brand.id,
                        'symbolicfile_id':symbolicfile.id
                        }
                    }"
                                 class="l-no p-op5-h">
                        <img :src="getImgPath(symbolicfile)" :alt="symbolicfile.symbolic.brand.title">
                    </router-link>
                </section>
                <no-results v-if="!results.length && !dataLoading"></no-results>
            </section>
        </div>
        <board-selector :payload="pinPayload"></board-selector>
    </main>
</template>

<script>
    import searchParameter from '~/components/searchParameter';
    import boardSelector from '~/components/boardSelector'
    import noResults from '~/components/searchNoResults'
    import {mapGetters} from 'vuex';
    //import axios from 'axios'

    export default {
        components: {
            searchParameter,
            boardSelector,
            noResults
        },
        props: [],
        computed: {
            ...mapGetters({
                currentPlan: 'auth/currentPlan',
                searchAdvancedParamValues: 'searchAdvanced/searchAdvancedParamValues',
                authenticated: 'auth/check',
                isPinned: 'boards/isPinned'
            }),
            'status': {
                get() {
                    return this.getParamValFromState('status');
                },
                set(value) {
                    this.setParamValueToState('status', value)
                }
            },
            'rating': {
                get() {
                    return this.getParamValFromState('rating');
                },
                set(value) {
                    this.$store.dispatch('searchAdvanced/setSearchAdvancedParamValue', {key: 'rating', value: value})
                }
            },
            'designguide': {
                get() {
                    return this.getParamValFromState('designguide');
                },
                set(value) {
                    this.setParamValueToState('designguide', value)
                }
            },
            'colorsexact': {
                get() {
                    return this.getParamValFromState('colorsexact');
                },
                set(value) {
                    this.setParamValueToState('colorsexact', value)
                }
            },
            validateSearch: function () {
                let keys = Object.keys(this.searchAdvancedParamValues);
                if (keys.length < 2) return false;
                for (let i = 0; i < keys.length; i++) {
                    if (keys[i] === 'status') continue;
                    if (!_.isEmpty(this.searchAdvancedParamValues[keys[i]])) {
                        return true;
                    }
                }
                return false;
            },
        },
        data: function () {
            return {
                'params': [],
                'showSymbolicParams': false,
                'showExtraOptions': false,
                'showSearchForm': true,
                'results': [],
                'pinPayload': 0,
                'dataLoading': true,
                'resultsCount': 0,
            }
        },
        async asyncData({$axios, error}) {
            return $axios.get('/api/ajax_search_advanced_params')
                .then(({data}) => {
                    return {
                        params: data
                    }
                })
                .catch(e => {
                    error({statusCode: 500, message: 'Error loading search parameters'})
                });
        },
        created() {
            if (Object.keys(this.$route.query).length) {
                this.showSearchForm = false;
                this.setFormDataFromQuery();
                this.getResults();
            }
        },
        watch: {
            '$route.query': function (newVal) {
                if (!_.isEmpty(newVal)) {
                    this.showSearchForm = false;
                    this.getResults();
                } else {
                    this.showSearchForm = true;
                    this.$modal.hide('tariffPlansModal');
                }
            },
            searchAdvancedParamValues: function (newVal) {
                if (this.validateSearch) {
                    this.getResultsCount();
                } else {
                    this.resultsCount = 0;
                }
            }
        },
        methods: {
            getParamValFromState(name) {
                return this.searchAdvancedParamValues[name] ? this.searchAdvancedParamValues[name] : [];
            },
            setParamValueToState(name, value) {
                this.$store.dispatch('searchAdvanced/setSearchAdvancedParamValue', {key: name, value: value});
            },
            /*getParams: function () {
               this.$axios.get('/api/ajax_search_advanced_params').then((response) => {
                    this.params = response.data;
                })
            },*/
            getCountries: function () {
                let data = this;
                let regionsSelected = [];

                if (this.searchAdvancedParamValues.region && this.searchAdvancedParamValues.region.length) {
                    this.searchAdvancedParamValues.region.forEach(function (value) {
                        regionsSelected.push(value);
                    });
                }
                this.$axios.get('/api/ajax_search_advanced_countries', {
                    params: {
                        'id': regionsSelected.join(",")
                    }
                }).then(function (response) {
                    data.params.countries = response.data;
                })
            },
            getIndustries: function () {
                let data = this;
                let sectorsSelected = [];
                if (this.searchAdvancedParamValues.sector && this.searchAdvancedParamValues.sector.length) {
                    this.searchAdvancedParamValues.sector.forEach(function (value) {
                        sectorsSelected.push(value);
                    });
                }
                this.$axios.get('/api/ajax_search_advanced_industries', {
                    params: {
                        'id': sectorsSelected.join(",")
                    }
                }).then(function (response) {
                    data.params.industries = response.data;
                })
            },
            resetParams: function () {
                this.$router.push({name: 'search_advanced'});
                this.$store.dispatch('searchAdvanced/resetSearchAdvanced');
                this.getCountries();
                this.getIndustries();
            },
            getResults: function () {
                if (Object.keys(this.$route.query).length) {
                    this.dataLoading = true;
                    this.$axios.post("/api/ajax_search_advanced", this.serializeState(this.searchAdvancedParamValues)).then(response => {
                        this.showSearchForm = false;
                        this.results = response.data.results;
                        window.scrollTo(0, 0);
                        //this.currentPlan = response.data.currentPlan;
                        this.dataLoading = false;
                        if (!this.currentPlan) this.$modal.show('tariffPlansModal');
                    }).catch(error => {
                        this.$modal.show('tariffPlansModal');
                    })

                } else {
                    this.showSearchForm = true;
                    this.$modal.hide('tariffPlansModal');
                }
            },
            getResultsCount() {
                this.$axios.post("/api/ajax_search_advanced_count", this.serializeState(this.searchAdvancedParamValues)).then(response => {
                    this.resultsCount = response.data;
                })
            },
            getImgPath: function (resultObj) {
                let jsonData = JSON.parse(resultObj.fileprev);
                return '/storage/' + jsonData[0].download_link;
            },
            getDownloadPathSymbolic: function (resultObj) {
                return '/download/symbolicfile/' + resultObj.id;
            },
            pinUnpinSymbolicfile: function (sId) {
                if (!this.isPinned(sId)) {
                    this.pinPayload = sId;
                    //this.$emit('modal', '#md-pin-to-board');
                    this.$modal.show('boardSelector');
                } else {
                    this.$store.dispatch('mainpage/setMessage', 'Removed from the board');
                    this.$store.dispatch('boards/unpinSymbolicfile', sId);
                }
            },
            pinAllToBoard() {
                this.pinPayload = this.results;
                this.$modal.show('boardSelector');
            },
            setSymbolicDownloaded(symbolicfile) {
                symbolicfile.user.push({});
            },
            search() {
                let fullPath = "/search_advanced?" + this.serializeState(this.searchAdvancedParamValues);
                if (fullPath === this.$route.fullPath) {
                    this.getResults();
                } else {
                    this.$router.push(fullPath);
                    this.getResults();
                }
            },
            setFormDataFromQuery() {
                let data = this;
                Object.keys(this.$route.query).forEach(function (key) {
                    if (key.includes('[]')) {
                        let newKey = key.replace('[]', '');
                        if (typeof data.$route.query[key] === "string") {
                            data.$store.dispatch('searchAdvanced/setSearchAdvancedParamValue', {
                                key: newKey,
                                value: [data.$route.query[key]]
                            });
                        } else {
                            data.$store.dispatch('searchAdvanced/setSearchAdvancedParamValue', {
                                key: newKey,
                                value: data.$route.query[key]
                            });
                        }
                    } else {
                        data.$store.dispatch('searchAdvanced/setSearchAdvancedParamValue', {
                            key: key,
                            value: data.$route.query[key]
                        });
                    }
                })
            },
            serializeState(obj, prefix) {
                var str = [],
                    p;
                for (p in obj) {
                    if (obj.hasOwnProperty(p)) {
                        var k = prefix ? prefix + "[]" : p,
                            v = obj[p];
                        str.push((v !== null && typeof v === "object") ?
                            this.serializeState(v, k) :
                            encodeURIComponent(k) + "=" + encodeURIComponent(v));
                    }
                }
                return str.join("&");
            },
        },
        head() {
            return {
                title: 'Advanced search'
            }
        }

    }
</script>

<style scoped>
    .slide-enter-active, .slide-leave-active {
        max-height: 500px;
        overflow-y: hidden;
        -webkit-transition: max-height 0.5s ease-in-out;
        -moz-transition: max-height 0.5s ease-in-out;
        -o-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
    }

    .slide-enter, .slide-leave-to /* .slide-leave-active до версии 2.1.8 */
    {
        max-height: 0;
    }
</style>