<template>
    <main>
        <h1 class="gr-name p-up32 p-id96">Terms of use</h1>
        <p class="gr-lc p-id64">By&nbsp;accessing the site at&nbsp;<a
                href="https://idarchive.app">https://idarchive.app</a>, you agree to&nbsp;abide by&nbsp;these Terms of&nbsp;use,
            all accompanying laws and regulations, and agree that you are responsible for compliance with any applicable
            local laws. If&nbsp;you do&nbsp;not agree to&nbsp;any of&nbsp;these terms, you are prohibited from using or&nbsp;accessing
            this site. The materials contained on&nbsp;this site are protected by&nbsp;applicable copyright and
            trademark law.</p>
        <p class="gr-rc e-dmca t-small p-id64">All images of the symbolics placed in the archive are the intellectual
            property of the owners of copyright and/or trademarks and are represented in the archive only for
            informational purposes, as well as for ease of use, but with the condition of proper permission from the
            copyright owner and/or trademark. Using the idArchive service, you agree to the terms of use of the
            symbolics and confirm that the symbolics you upload will not be used for commercial purposes and violate the
            rights of copyright and/or trademark holders, in accordance with the 1998 DMCA act.<br>
            Before using the symbolics downloaded from the archive in any way, you are obliged to obtain explicit
            permission from the copyright owner and/or trademark. Failure to obtain such a permit is a violation of
            international copyright and trademark laws, is punishable by law and entails financial and criminal claims.
        </p>
        <p class="gr-lc p-id8">Each registered user of&nbsp;the idArchive website automatically becomes the owner of&nbsp;a&nbsp;user
            license, which allows you to&nbsp;temporarily download one copy of&nbsp;the symbolics files, brands placed
            in&nbsp;the archive, only for personal, non-commercial, temporary viewing. This is&nbsp;a&nbsp;license, not
            a&nbsp;transfer of&nbsp;ownership, and in&nbsp;accordance with this license you are not
            entitled&nbsp;to:</p>
        <ul class="gr-lc mdash">
            <li>modify or&nbsp;copy materials;</li>
            <li>use materials for any commercial purposes or&nbsp;for any public display (commercial or&nbsp;non-commercial);</li>
            <li>decompile or&nbsp;redesign any materials contained on&nbsp;the idArchive website;</li>
            <li>remove any copyright or&nbsp;other proprietary rights from the materials;</li>
            <li>transfer materials to&nbsp;another person or&nbsp;&#147;mirror&#148; materials on&nbsp;any other
                server.
            </li>
        </ul>
        <p class="gr-lc p-id64">This license is&nbsp;automatically revoked if&nbsp;you violate any of&nbsp;these
            restrictions and may be&nbsp;revoked by&nbsp;us at&nbsp;any time. After you stop viewing these materials or&nbsp;this
            license is&nbsp;terminated, you must destroy all downloaded materials in&nbsp;your possession in&nbsp;electronic
            or&nbsp;printed format.</p>
        <p class="gr-lc">Materials on&nbsp;the idArchive website are provided &#147;as&nbsp;is&#148;. We&nbsp;make no&nbsp;warranties,
            express or&nbsp;implied, and hereby disclaim any other warranties, including, without limitation, implied
            warranties or&nbsp;conditions of&nbsp;commercial value, fitness for a&nbsp;particular purpose, and
            non-infringement of&nbsp;intellectual property rights or&nbsp;other violation of&nbsp;rights.<br>
            In&nbsp;addition, we&nbsp;do&nbsp;not guarantee or&nbsp;make any statements as&nbsp;to&nbsp;the accuracy of&nbsp;the
            results or&nbsp;the reliability of&nbsp;the use of&nbsp;materials on&nbsp;our website or&nbsp;otherwise
            related to&nbsp;such materials or&nbsp;on&nbsp;any websites related to&nbsp;this website.</p>
        <p class="gr-lc">The materials provided on&nbsp;the idArchive website may contain technical, typographical, or&nbsp;photographic
            errors. We&nbsp;do&nbsp;not guarantee that any materials on&nbsp;our site are accurate, complete or&nbsp;current.
            We&nbsp;reserve the right to&nbsp;make changes to&nbsp;the materials contained on&nbsp;our website at&nbsp;any
            time without prior notice. However, we&nbsp;do&nbsp;not give any commitment to&nbsp;update the
            materials.</p>
        <p class="gr-lc">We&nbsp;are not liable for any losses (including, but not limited&nbsp;to, losses from data or&nbsp;profit,
            or&nbsp;due to&nbsp;interruption of&nbsp;work) arising from the use or&nbsp;inability to&nbsp;use materials
            on&nbsp;the idArchive website.</p>
        <p class="gr-lc p-id64">We&nbsp;are not able to&nbsp;thoroughly check all the sites to&nbsp;which our site
            refers, and are not responsible for the content of&nbsp;these sites. The presence of&nbsp;a&nbsp;link to&nbsp;a&nbsp;third-party
            site does not imply our endorsement of&nbsp;this site. Use of&nbsp;any such linked site is&nbsp;at&nbsp;the
            user&rsquo;s own risk and peril.</p>
        <p class="gr-lc"><span class="t-bold">Important!</span> idArchive is&nbsp;a&nbsp;service that provides a&nbsp;paid
            service for the advanced search of&nbsp;brand symbolics by&nbsp;the necessary parameters. All the symbolics
            files present in&nbsp;the service database are the intellectual property of&nbsp;the owner of&nbsp;copyright
            and/or trademark and are offered solely for the convenience of&nbsp;legitimate use and only with the proper
            permission of&nbsp;the copyright and/or trademark owner, their placement on&nbsp;the site and the ability to&nbsp;download,
            is&nbsp;provided on&nbsp;a&nbsp;completely free basis, for informational purposes only.</p>
    </main>
</template>

<script>
    export default {
        name: "termsOfUse",
        mounted() {
            window.scrollTo(0, 0);
        },
        head() {
            return {
                title: 'Terms of use'
            }
        }

    }
</script>

<style scoped>

</style>