<template>
    <v-combobox
            v-model="formValues"
            label="Brand name alt"
            chips
            clearable
            solo
            multiple
            :attach="true"
            dense
            flat
            small-chips
    >
        <template v-slot:selection="data">
            <v-chip
                    close
                    @input="emitDelete(data.item)"
            >
                <strong>{{ data.item }}</strong>
            </v-chip>
        </template>
    </v-combobox>
</template>

<script>
    export default {
        props: {
            value: Array
        },
        computed: {
            formValues: {
                get() {
                    return this.value !== undefined ? Array.from(this.value, (v, k) => v.title) : [];
                },
                set(val) {
                    return this.$emit('input', Array.from(val, (v, k) => ({'title': v})));
                }
            }
        },
        methods: {
            emitDelete(val) {
                this.value.splice(this.formValues.indexOf(val), 1);
                this.$emit('input', this.value);
            }
        },
    }
</script>