<template>
    <div>
        <v-autocomplete :attach="true"
                        v-model="formValue"
                        :items="items"
                        open-on-clear
                        clearable
                        :label="label"
                        cache-items
                        :search-input.sync="search"
                        :loadind="loading"
                        multiple
                        chips
                        item-text="title"
                        item-value="id"
                        deletable-chips
                        hide-no-data
                        return-object
        ></v-autocomplete>
    </div>
</template>

<script>
    export default {
        props: {
            label: String,
            value: Array,
        },
        data: () => ({
            loading: false,
            items: [],
            search: ''
        }),
        computed: {
            formValue: {
                get() {
                    if (this.value !== undefined) {
                        let newVal = this.value;
                        this.items = this.items.concat(newVal);
                        return newVal;
                    }
                    return [];
                },
                set(val) {
                    //console.log(val);
                    return this.$emit('input', val);
                }
            }
        },
        methods: {
            querySelections(val) {
                this.loading = true;
                this.$axios.get('/api/admin/ajax_search_tips?q=' + val)
                    .then(response => {
                        this.items = response.data;
                        this.loading = false;
                    })
                    .finally(() => {
                        this.loading = false
                    })

            }
        },
        watch: {
            search(val) {
                val && val !== this.formValue && val.length > 1 && this.querySelections(val)
            }
        }
    }
</script>