<template>
    <div>
        <v-autocomplete :attach="true"
                        v-model="formValues"
                        :items="autocomplete"
                        open-on-clear
                        clearable
                        :label="label"
                        chips
                        deletable-chips
                        multiple
        ></v-autocomplete>
    </div>
</template>

<script>
    export default {
        props: {
            label: String,
            value: Array,
            autocomplete: Array
        },
        data: () => ({
            autocompleteVal: ''
        }),
        computed: {
            formValues: {
                get() {
                    return this.value !== undefined ? Array.from(this.value, (v, k) => v.title) : [];
                },
                set(val) {
                    return this.$emit('input', Array.from(val, (v, k) => ({'title': v})));
                }
            }

        },
        methods: {},
    }
</script>