<template>
    <section class="p-id32">
        <section class="t-big posrel p-id16">
            <a href="#md-delete-block" class="delete-block l-no p-op4inv-h md-modal-open"
               @click.prevent="$emit('delete-material', blockIndex)">
                <v-icon>delete</v-icon>
            </a>
            {{blockIndex+1}} material
        </section>
        <section class="input-field p-id32">
            <input name="material-sort" id="material-sort" type="text" class="validate" v-model="material.sort">
            <label for="material-sort" :class="{active: material.sort||material.sort===0 }">Sort</label>
        </section>
        <section class="input-field p-id32">
            <input name="material-title" id="material-title" type="text" class="validate" v-model="material.title">
            <label for="material-title" :class="{active: material.title||material.title===0 }">Title</label>
        </section>
        <section class="input-field p-id32">
            <input name="material-link" id="material-link" type="text" class="validate" v-model="material.link">
            <label for="material-link" :class="{active: material.link||material.link===0 }">Link...</label>
        </section>
        <section class="input-field p-id32">
            <v-text-field label="...or File" @click='pickFile' v-model='fileName' prepend-icon='attach_file'></v-text-field>
            <input
                    type="file"
                    style="display: none"
                    ref="file"
                    @change="onFilePicked"
            >
        </section>
        <section class="input-field p-id32">
            <v-autocomplete :attach="true"
                            v-model="material.filetype.title"
                            :items="getAutocompleteList('filetypes')"
                            open-on-clear
                            clearable
                            label="File type"></v-autocomplete>
        </section>
    </section>
</template>

<script>
    import ChipsAutocomplete from '../../components/admin/chipsAutocomplete'

    export default {
        props: {
            blockIndex: Number,
            material: Object,
            params: Object,
        },
        components: {
            ChipsAutocomplete
        },
        data() {
            return {
                fileName: '',
                fileUrl: '',
            }
        },
        created() {
            if (this.material.file !== undefined && this.material.file) {
                //console.log(this.symbolicFile.file);
                let file = JSON.parse(this.material.file);
                //console.log(file);
                this.fileName = file[0].original_name;
                this.fileUrl = '/storage/'+file[0].download_link;
            }
        },
        methods: {
            getAutocompleteList(paramName) {
                if (this.params !== undefined && this.params[paramName] !== undefined) {
                    return Array.from(this.params[paramName], (v, k) => v.title)
                }
                return []
            },
            pickFile() {
                this.$refs.file.click()
            },
            onFilePicked(e) {
                const files = e.target.files
                if (files[0] !== undefined) {
                    this.fileName = files[0].name
                    if (this.fileName.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                        this.fileUrl = fr.result
                        let formData = new FormData();
                        formData.append('image', files[0]);
                        this.$axios.post('/api/material/ajax_upload_image', formData)
                            .then(({data}) => {
                                this.material.file = JSON.stringify(data);
                                this.$store.dispatch('mainpage/setMessage', 'Image successfully uploaded');
                            })
                    })
                } else {
                    this.fileName = ''
                    this.fileUrl = ''
                }
            },
        },

    }
</script>