<template>
    <section class="gr-full c-br-graylight p-up32p p-id32p">
        <h4 class="gr-col posrel">
            <a href="#" class="l-local" @click.prevent="showBlock = !showBlock">Block {{blockIndex+1}}</a>
            <a href="#md-delete-block" class="delete-block l-no p-op4inv-h md-modal-open"
               @click.prevent="$emit('delete-symbolic', blockIndex)">
                <v-icon>delete</v-icon>
            </a>
        </h4>
        <section v-if="showBlock" class="gr-profile p-up32">
            <!-- Этот блок сворачивается и разворачивается при клике на заголовок выше -->
            <section class="p-id32">
                <section class="input-field p-id32">
                    <input name="sort-block" id="sort-block" type="text" class="validate" v-model="symbolic.sort">
                    <label for="sort-block" :class="{active: symbolic.sort||symbolic.sort===0 }">Sort</label>
                </section>
                <section class="input-field p-id32">
                    <v-switch
                            v-model="symbolic.status"
                            label="Status selector"
                            :true-value="1"
                            :false-value="0"
                            color="red"
                    ></v-switch>

                </section>
                <section class="input-field p-id32">
                    <v-radio-group v-model="symbolic.rating"
                                   label="Rating">
                        <v-radio
                                v-for="n in 5"
                                :key="n"
                                :label="n.toString()"
                                :value="n"
                        ></v-radio>
                    </v-radio-group>
                </section>
                <section class="input-field p-id32">
                    <chips-autocomplete v-model="symbolic.years"
                                        :autocomplete="getAutocompleteList('years')"
                                        label="Year"></chips-autocomplete>
                </section>
                <section class="input-field p-id32">
                    <chips-autocomplete v-model="symbolic.authors"
                                        :autocomplete="getAutocompleteList('authors')"
                                        label="Author"></chips-autocomplete>
                </section>
            </section>

            <symbolic-file v-for="(symbolicfile,index) in symbolic.symbolicfiles" :symbolic-file.sync="symbolicfile"
                           :params="params"
                           :key="index"
                           :block-index="index"
                           @delete-symbolic-file="showDeleteSymbolicFileModal(index)"
            >
            </symbolic-file>

            <section class="p-id32">
                <p class="t-big p-id0">
                    <a href="#" class="l-local" @click.prevent="symbolic.symbolicfiles.push(getSymbolicfileTemplate())">+
                        Add Symbolic
                        Files</a>
                </p>

            </section>

            <designguide v-for="(designguide, index) in symbolic.designguides" :designguide.sync="designguide"
                         :params="params" :block-index="index"
                         @delete-designguide="showDeleteDesignguideModal(index)"></designguide>
            <section class="p-id32">
                <p class="t-big p-id0">
                    <a href="#" class="l-local" @click.prevent="symbolic.designguides.push(getDesignguideTemplate())">+
                        Add Designguide</a>
                </p>
            </section>
            <material v-for="(material, index) in symbolic.materials" :material.sync="material"
                      :params="params" :block-index="index"
                      @delete-material="showDeleteMaterialModal(index)"
            ></material>
            <section class="p-id32">
                <p class="t-big p-id0">
                    <a href="#" class="l-local"
                       @click.prevent="symbolic.materials.push(getMaterialTemplate())">+ Add Materials</a>
                </p>
            </section>
            <modal name="deleteSymbolicFile" :height="'auto'" :width="320">
                <section class="md-modal-content">
                    <section class="md-modal-close p-op4inv-h" @click="$modal.hide('deleteSymbolicFile')"></section>
                    <h4 class="c-orange p-id24">Are you sure delete symbolic file?</h4>
                    <button type="submit"
                            @click.prevent="$modal.hide('deleteSymbolicFile')">no
                    </button>
                    <button class="b-reset"
                            @click.prevent="deleteSymbolicFile()">Yes
                    </button>
                </section>
            </modal>
            <modal name="deleteDesignguide" :height="'auto'" :width="320">
                <section class="md-modal-content">
                    <section class="md-modal-close p-op4inv-h" @click="$modal.hide('deleteDesignguide')"></section>
                    <h4 class="c-orange p-id24">Are you sure delete symbolic designguide?</h4>
                    <button type="submit"
                            @click.prevent="$modal.hide('deleteDesignguide')">no
                    </button>
                    <button class="b-reset"
                            @click.prevent="deleteDesignguide()">Yes
                    </button>
                </section>
            </modal>
            <modal name="deleteMaterial" :height="'auto'" :width="320">
                <section class="md-modal-content">
                    <section class="md-modal-close p-op4inv-h" @click="$modal.hide('deleteMaterial')"></section>
                    <h4 class="c-orange p-id24">Are you sure delete material?</h4>
                    <button type="submit"
                            @click.prevent="$modal.hide('deleteMaterial')">no
                    </button>
                    <button class="b-reset"
                            @click.prevent="deleteMaterial()">Yes
                    </button>
                </section>
            </modal>
        </section>
    </section>
</template>

<script>
    import ChipsAutocomplete from '../../components/admin/chipsAutocomplete'
    import SymbolicFile from '../../components/admin/symbolicFile'
    import Designguide from '../../components/admin/designguide'
    import Material from "./material";

    export default {
        props: {
            blockIndex: Number,
            symbolic: Object,
            params: Object,
        },
        components: {
            Material,
            ChipsAutocomplete,
            SymbolicFile,
            Designguide
        },
        data() {
            return {
                showBlock: false,
                deleteSymbolicfileId: 0,
                deleteDesignguideId: 0,
                deleteMaterialId: 0,
            }
        },
        methods: {
            getAutocompleteList(paramName) {
                if (this.params[paramName] !== undefined) {
                    return Array.from(this.params[paramName], (v, k) => v.title)
                }
                return []
            },
            getSymbolicfileTemplate() {
                return {
                    sort: 0,
                    title: '',
                    filetype: {
                        title: ''
                    },
                    symboltype: {
                        title: ''
                    },
                    symboltypeadds: [],
                    visualkind: {
                        title: ''
                    },
                    language: [],
                    fonttypes: [],
                    colors: [],
                    techniques: [],
                    forms: [],
                    simpleshapes: [],
                    symbols: []
                }
            },
            getDesignguideTemplate() {
                return {
                    sort: 0,
                    title: '',
                    link: '',
                    filetype: {
                        title: ''
                    }
                }
            },
            getMaterialTemplate() {
                return {
                    sort: 0,
                    title: '',
                    link: '',
                    filetype: {
                        title: ''
                    }
                }
            },
            deleteSymbolicFile() {
                this.symbolic.symbolicfiles.splice(this.deleteSymbolicfileId, 1);
                this.$modal.hide('deleteSymbolicFile');
            },
            deleteDesignguide() {
                this.symbolic.designguides.splice(this.deleteDesignguideId, 1);
                this.$modal.hide('deleteDesignguide');
            },
            deleteMaterial() {
                this.symbolic.materials.splice(this.deleteMaterialId, 1);
                this.$modal.hide('deleteMaterial');
            },
            showDeleteSymbolicFileModal(id) {
                this.deleteSymbolicfileId = id;
                this.$modal.show('deleteSymbolicFile');
            },
            showDeleteDesignguideModal(id) {
                this.deleteDesignguideId = id;
                this.$modal.show('deleteDesignguide')
            },
            showDeleteMaterialModal(id) {
                this.deleteMaterialId = id;
                this.$modal.show('deleteMaterial')
            }
        }
    }
</script>