<template>
    <section class="p-id32">
        <section class="t-big posrel p-id16">
            <a href="#md-delete-block" class="delete-block l-no p-op4inv-h md-modal-open"
               @click.prevent="$emit('delete-symbolic-file', blockIndex)">
                <v-icon>delete</v-icon>
            </a>
            {{blockIndex+1}} file
        </section>
        <section class="input-field p-id32">
            <input name="sort-file" id="sort-file" type="text" class="validate" v-model="symbolicFile.sort">
            <label for="sort-file" :class="{active: symbolicFile.sort||symbolicFile.sort===0 }">Sort</label>
        </section>
        <section class="input-field p-id32">
            <input name="file-title" id="file-title" type="text" class="validate" v-model="symbolicFile.title">
            <!-- Выборка нескольких значений -->
            <label for="file-title" :class="{active: symbolicFile.title}">Title</label>
        </section>
        <section class="input-field p-id32">
            <img :src="fileUrl" width="100%" v-if="fileUrl"/>
            <v-text-field label="File" @click='pickFile' v-model='fileName' prepend-icon='attach_file'></v-text-field>
            <input
                    type="file"
                    style="display: none"
                    ref="file"
                    @change="onFilePicked"
            >
        </section>
        <section class="input-field p-id32">
            <img :src="filePreviewUrl" width="100%" v-if="filePreviewUrl"/>
            <v-text-field label="Preview" @click='pickPreviewFile' v-model='filePreviewName'
                          prepend-icon='attach_file'></v-text-field>
            <input
                    type="file"
                    style="display: none"
                    ref="filePreview"
                    @change="onFilePreviewPicked"
            >
        </section>
        <section class="input-field p-id32">
            <v-autocomplete :attach="true"
                            v-model="symbolicFile.filetype.title"
                            :items="getAutocompleteList('filetypes')"
                            open-on-clear
                            clearable
                            label="File type"></v-autocomplete>
        </section>
        <section class="input-field p-id32">
            <v-autocomplete :attach="true"
                            v-model="symbolicFile.symboltype.title"
                            :items="getAutocompleteList('symboltypes')"
                            open-on-clear
                            clearable
                            label="Symbol type"></v-autocomplete>
        </section>
        <section class="input-field p-id32">
            <chips-autocomplete v-model="symbolicFile.symboltypeadds"
                                :autocomplete="getAutocompleteList('symboltypeadds')"
                                label="Symbol type add"></chips-autocomplete>
        </section>
        <section class="input-field p-id32">
            <v-autocomplete :attach="true"
                            v-model="symbolicFile.visualkind.title"
                            :items="getAutocompleteList('visualkinds')"
                            open-on-clear
                            clearable
                            label="Visual kind"></v-autocomplete>
        </section>
        <section class="input-field p-id32">
            <chips-autocomplete v-model="symbolicFile.language"
                                :autocomplete="getAutocompleteList('languages')"
                                label="Language"></chips-autocomplete>
        </section>
        <section class="input-field p-id32">
            <chips-autocomplete v-model="symbolicFile.fonttypes"
                                :autocomplete="getAutocompleteList('fonttypes')"
                                label="Font type"></chips-autocomplete>
        </section>
        <section class="input-field p-id32">
            <chips-autocomplete v-model="symbolicFile.colors"
                                :autocomplete="getAutocompleteList('colors')"
                                label="Colors"></chips-autocomplete>
        </section>
        <section class="input-field p-id32">
            <chips-autocomplete v-model="symbolicFile.techniques"
                                :autocomplete="getAutocompleteList('techniques')"
                                label="Technique"></chips-autocomplete>
        </section>
        <section class="input-field p-id32">
            <chips-autocomplete v-model="symbolicFile.forms"
                                :autocomplete="getAutocompleteList('forms')"
                                label="Form"></chips-autocomplete>
        </section>
        <section class="input-field p-id32">
            <chips-autocomplete v-model="symbolicFile.simpleshapes"
                                :autocomplete="getAutocompleteList('simpleshapes')"
                                label="Simple shapes"></chips-autocomplete>
        </section>
        <section class="input-field p-id32">
            <chips-autocomplete v-model="symbolicFile.symbols"
                                :autocomplete="getAutocompleteList('symbols')"
                                label="Symbol"></chips-autocomplete>
        </section>
    </section>
</template>

<script>
    import ChipsAutocomplete from '../../components/admin/chipsAutocomplete'

    export default {
        props: {
            blockIndex: Number,
            symbolicFile: Object,
            params: Object,
        },
        components: {
            ChipsAutocomplete
        },
        data() {
            return {
                fileName: '',
                fileUrl: '',
                filePreviewName: '',
                filePreviewUrl: '',
            }
        },
        created() {
            if (this.symbolicFile.file !== undefined && this.symbolicFile.file) {
                //console.log(this.symbolicFile.file);
                let file = JSON.parse(this.symbolicFile.file);
                //console.log(file);
                this.fileName = file[0].original_name;
                this.fileUrl = '/storage/'+file[0].download_link;
            }

            if (this.symbolicFile.fileprev !== undefined && this.symbolicFile.fileprev) {
                //console.log(this.symbolicFile.file);
                let fileprev = JSON.parse(this.symbolicFile.fileprev);
                //console.log(file);
                this.filePreviewName = fileprev[0].original_name;
                this.filePreviewUrl = '/storage/'+fileprev[0].download_link;
            }
        },
        methods: {
            getAutocompleteList(paramName) {
                if (this.params[paramName] !== undefined) {
                    return Array.from(this.params[paramName], (v, k) => v.title)
                }
                return []
            },
            pickFile() {
                this.$refs.file.click()
            },
            pickPreviewFile() {
                this.$refs.filePreview.click()
            },

            onFilePicked(e) {
                const files = e.target.files
                if (files[0] !== undefined) {
                    this.fileName = files[0].name
                    if (this.fileName.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                        this.fileUrl = fr.result
                        let formData = new FormData();
                        formData.append('image', files[0]);
                        this.$axios.post('/api/symbolicfile/ajax_upload_image', formData)
                            .then(({data}) => {
                                this.symbolicFile.file = JSON.stringify(data);
                                this.$store.dispatch('mainpage/setMessage', 'Image successfully uploaded');
                            })
                    })
                } else {
                    this.fileName = ''
                    this.fileUrl = ''
                }
            },
            onFilePreviewPicked(e) {
                const files = e.target.files
                if (files[0] !== undefined) {
                    this.filePreviewName = files[0].name
                    if (this.filePreviewName.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                        this.filePreviewUrl = fr.result
                        let formData = new FormData();
                        formData.append('image', files[0]);
                        this.$axios.post('/api/symbolicfile/ajax_upload_image', formData)
                            .then(({data}) => {
                                //console.log(JSON.stringify(data));
                                this.symbolicFile.fileprev = JSON.stringify(data);
                                this.$store.dispatch('mainpage/setMessage', 'Image successfully uploaded');
                            })
                    })
                } else {
                    this.filePreviewName = ''
                    this.filePreviewUrl = ''
                }
            }

        },

    }
</script>