<template>
    <main>
        <h1 class="gr-name p-up32">Houston, we&nbsp;have a&nbsp;problems</h1>
        <ul class="gr-col e-select t-small p-id64">
            <li></li>
        </ul>
        <section class="gr-block">
            <section class="gr-message">
                <h3 class="c-red p-up0 p-id48">Oops! Something is&nbsp;broken.</h3>
                <p class="p-id48">Sorry, we&nbsp;can&rsquo;t find that page! It&nbsp;might be&nbsp;an&nbsp;old link or&nbsp;maybe it&nbsp;moved.<br>
                    You can <router-link :to="{name:'index'}">start over</router-link> or&nbsp;use the <router-link :to="{name:'search_advanced'}">advanced search</router-link>. Good luck.</p>
                <div class="oclogo"><img src="/images/oceanic_sign.svg"></img></div>
            </section>
        </section>
    </main>
</template>

<script>
    export default {
        name: "error",
        props: ['error'],
    }
</script>

<style scoped>

</style>