<template>
    <modal name="boardSelector" :scrollable="true" :width="320" :height="'auto'">
        <section class="md-modal-content">
            <section class="md-modal-close p-op4inv-h" @click.prevent="$modal.hide('boardSelector')"></section>
            <h4>Pin to board</h4>
            <section class="attr-pin-block">
                <section class="attr-pin-head"></section>
                <ul class="attr-pin-list">
                    <li v-for="board in boards"
                        @click.prevent.stop="pinToBoard(board.id)">
                        <img src="/images/icon/ico_pin-s.svg"/>
                        <a href="#">{{board.title}}</a>
                    </li>
                </ul>
                <section class="attr-down"></section>
            </section>
            <section class="attr-pin-add input-field">
                <input name="search" id="add-board" type="text" class="validate" v-model="boardTitle"
                       @keyup.enter="addBoard($event.target.value)">
                <label for="add-board" :class="{active:boardTitle}">Add new board</label>
            </section>
        </section>
    </modal>
</template>

<script>
    import {mapGetters} from 'vuex';
    //import axios from 'axios';

    export default {
        components: {},
        props: [
            'payload',
        ],
        data: function () {
            return {
                boardTitle: '',
                /*'authenticated': document.head.querySelector('meta[name="auth"]') != null ? 1 : 0,*/
            }
        },
        computed: {
            boards() {
                return this.$store.state.boards.boards;
            },
            ...mapGetters({
                currentPlan: 'auth/currentPlan',
                authenticated: 'auth/check'
            }),
        },
        mounted() {
            this.getBoards();
        },
        methods: {
            getBoards: function () {
                if (this.authenticated && this.currentPlan) this.$store.dispatch('boards/updateBoards');
            },
            addBoard: function (value) {
                let data = this;
               this.$axios.post('/api/ajax_add_board', {
                    'title': value
                }).then(function (responce) {
                    data.boardTitle = '';
                    data.getBoards();
                });
            },
            pinToBoard: function (boardId) {
                if (typeof this.payload === 'number') {
                   this.$axios.get('/api/ajax_pin_to_board/' + boardId + '/' + this.payload)
                        .then(response => {
                            this.$store.dispatch('boards/updateBoards');
                            this.$store.dispatch('mainpage/setMessage', 'Added to the board');
                            this.$modal.hide('boardSelector');
                        })

                } else {
                    let symbolicfileIds = this.payload.map(symbolicfile => symbolicfile.id);
                   this.$axios.post('/api/ajax_pin_all_to_board/' + boardId, {
                        'symbolicfiles': symbolicfileIds
                    })
                        .then(() => {
                            this.$store.dispatch('boards/updateBoards');
                            this.$store.dispatch('mainpage/setMessage', 'Added to the board');
                            this.$modal.hide('boardSelector');
                        })
                }
            }
        },
    }
</script>
