<template>
    <ul v-click-outside="closeColorSelect" class="board-colors">
        <li v-for="color in colors">
            <a href="#" @click.prevent.stop="$emit('color-selected', color.id)"><span
                    :class="[color.class]"></span>{{color.title}}</a>
        </li>
    </ul>
</template>

<script>

    import ClickOutside from 'vue-click-outside'

    export default {
        components: {},
        props: [
            'colors'
        ],
        data: function () {
            return {}
        },
        computed: {},
        mounted() {

        },
        methods: {
            closeColorSelect: function () {
                this.$emit('close');
            }
        },
        directives: {
            ClickOutside
        }
    }
</script>
