<template>
    <modal name="loginRegisterModal" :height="'auto'" :width="334" :scrollable="true"
           :clickToClose="showCloseButton">
        <section v-if="!showRegister" id="md-sign-in">
            <section class="md-modal-content">
                <section v-if="showCloseButton" class="p-op4inv-h md-modal-close"
                         @click.prevent="$modal.hide('loginRegisterModal')"></section>
                <h4 class="c-orange p-id24">Sign in</h4>
                <form ref="signin" id="signin" method="post" @submit.prevent="login">
                    <input type="hidden" name="_token" :value="getCsrfToken()">
                    <section class="input-field p-id16">
                        <input v-model="form.email" name="email" id="mail-field1" type="text" class="validate">
                        <label for="mail-field1" :class="{'active':form.email.length}">Email</label>
                    </section>
                    <section class="input-field p-id16">
                        <input v-model="form.password" name="password" id="password-field1" type="password"
                               class="validate"
                               onfocus="this.type='text';" onclick="this.type='text';" onblur="this.type='password';">
                        <label for="password-field1" :class="{'active':form.password.length}">Password</label>
                        <p v-if="form.errors.has('email')" v-for="error in form.errors.getAll('email')"
                           class="field-message c-red t-italic t-small">{{error}}</p>
                        <p v-if="form.errors.has('password')" v-for="error in form.errors.getAll('password')"
                           class="field-message c-red t-italic t-small">{{error}}</p>
                    </section>
                    <button type="submit" class="p-id32" :disabled=!validated>
                        Sign in
                    </button>
                </form>
                <p class="c-gray t-small">or sign in with</p>
                <ul class="e-reg-icon p-id24">
                    <li><a href="/login/facebook"><img src="/images/icon/ico_fb.svg"></a></li>
                    <li><a href="/login/google"><img src="/images/icon/ico_gp.svg"></a></li>
                    <li><a href="/login/twitter"><img src="/images/icon/ico_tw.svg"></a></li>
                </ul>
                <p class="e-reg-select t-small">
                    <a href="#" @click.prevent="$emit('switch-login-register')">Create account</a></p>
            </section>
        </section>
        <section v-if="showRegister" id="md-registration">
            <section class="md-modal-content">
                <section v-if="showCloseButton" class="p-op4inv-h md-modal-close"
                         @click.prevent="$modal.hide('loginRegisterModal')"></section>
                <h4 class="c-orange p-id24">Create account</h4>
                <form id="register" method="POST">
                    <input type="hidden" name="_token" :value="getCsrfToken()">
                    <section class="input-field p-id16">
                        <input v-model="form.email" name="email" id="mail-field2" type="text" class="validate"
                               required="required">
                        <label for="mail-field2" :class="{'active':form.email.length}">Email</label>
                        <p v-for="error in getError('email')" class="field-message c-red t-italic t-small">{{error}}</p>
                    </section>
                    <section class="input-field p-id16">
                        <input v-model="form.password" name="password" id="password-field2" type="password"
                               class="validate"
                               required="required"
                               onfocus="this.type='text';" onclick="this.type='text';" onblur="this.type='password';">
                        <label for="password-field2" :class="{'active':form.password.length}">Password</label>
                        <p v-for="error in getError('password')" class="field-message c-red t-italic t-small">
                            {{error}}</p>
                        <div class="p-up16"
                        <vue-recaptcha ref="recaptcha" :sitekey="$store.state.mainpage.recaptchaKey" @verify="verifyRecaptcha"
                                       @expired="resetRecaptcha"></vue-recaptcha>
                        <p v-for="error in getError('g-recaptcha-response')"
                           class="field-message c-red t-italic t-small">{{error}}</p>
                        </div>
                    </section>
                    <button type="submit" class="p-id32" @click.stop.prevent="register()" :disabled=!validated>Create
                    </button>
                </form>
                <p class="c-gray t-small">or sign in with</p>
                <ul class="e-reg-icon p-id24">
                    <li><a href="/login/facebook"><img src="/images/icon/ico_fb.svg"></a></li>
                    <li><a href="/login/google"><img src="/images/icon/ico_gp.svg"></a></li>
                    <li><a href="/login/twitter"><img src="/images/icon/ico_tw.svg"></a></li>
                </ul>
                <p class="e-reg-select t-small">Have an account already?
                    <a href="#" @click.prevent="$emit('switch-login-register')">Sign in</a></p>
            </section>
        </section>
    </modal>
</template>

<script>
    import VueRecaptcha from 'vue-recaptcha';
    import {mapGetters} from 'vuex'
    import Form from 'vform'
    //import axios from 'axios'

    export default {
        components: {
            VueRecaptcha
        },
        mounted() {
        },
        props: [
            'showRegister'
        ],
        data: function () {
            return {
                form: new Form({
                    email: '',
                    password: '',
                    recaptchaResponse: '',
                }),
                message: "",
                respData: {},
                errors: {},
            }
        },
        computed: {
            ...mapGetters({
                authenticated: 'auth/check'
            }),
            validated() {
                return (this.form.email.length > 5 && this.form.email.includes('@') && this.form.password.length > 5);
            },
            showCloseButton() {
                return this.authenticated || (this.$route.name === 'search_advanced' && _.isEmpty(this.$route.query) || this.$route.name !== 'search_advanced');
            }
        },
        methods: {
            async login() {
                try {
                    // Submit the form.
                    const {data} = await this.form.post('/api/login')

                    // Save the token.
                    this.$store.dispatch('auth/saveToken', {
                        token: data.token,
                        remember: true
                    });

                    // Fetch the user.
                    await this.$store.dispatch('auth/fetchUser')
                    this.$modal.hide('loginRegisterModal')
                    this.$store.dispatch('mainpage/setMessage', 'You are logged in');

                    // Redirect home.
                    //this.$router.push({ name: 'index' })     
                } catch (e) {

                }

            },
            async register() {
                try {
                    const {data} = await this.form.post('/api/register');
                    // Save the token.
                    this.$store.dispatch('auth/saveToken', {
                        token: data.token,
                        remember: true
                    });

                    // Fetch the user.
                    await this.$store.dispatch('auth/fetchUser')
                    this.$modal.hide('loginRegisterModal')

                    this.$store.dispatch('mainpage/setMessage', 'Account created');
                    this.$router.push('/profile/?showTariffPlansModal');
                } catch (e) {
                    this.respData = e.response.data;
                    this.resetRecaptcha();
                }
            },
            getCsrfToken() {
                let token = '';
                /*document.head.querySelector('meta[name="csrf-token"]');*/
                return token.content;
            },
            getError(name) {
                if (this.respData.hasOwnProperty('errors') && this.respData.errors.hasOwnProperty(name)) {
                    return this.respData.errors[name];
                } else {
                    return false;
                }
            },
            verifyRecaptcha(response) {
                this.form.recaptchaResponse = response;
            },
            resetRecaptcha() {
                this.$refs.recaptcha.reset() // Direct call reset method
            }
        }
    }
</script>
