<template>
    <modal name="paymentModal" :height="'auto'" :width="320" :clickToClose="$route.name === 'profile'"
           :scrollable="true">
        <section id="md-select-payment" class="md-modal md-b-pay">
            <section class="md-modal-content">
                <section v-if="$route.name === 'profile'" class="md-modal-close p-op4inv-h"
                         @click="$modal.hide('paymentModal')"></section>
                <h4 v-if="tariffPlan == 1" class="c-orange p-id8">Personal tariff plan</h4>
                <h4 v-if="tariffPlan == 2" class="c-orange p-id8">Corporate tariff plan</h4>
                <p v-if="tariffPlan == 1" class="c-red p-id16">$12/year</p>
                <p v-if="tariffPlan == 2" class="c-red p-id16">$100/year</p>
                <p class="t-small p-id4">Select payment method:</p>
                <ul class="payment-logo">
                    <li>
                        <a href="#" class="l-no p-op5-h" @click.prevent="liqPayButton()">
                            <img src="/images/icon/ico_pay_visa.svg" alt="visa"/>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="l-no p-op5-h" @click.prevent="liqPayButton()">
                            <img src="/images/icon/ico_pay_mastercard.svg"
                                 alt="mastercard"/>
                        </a>
                    </li>
                    <li><a href="#" class="l-no p-op5-h"><img src="/images/icon/ico_pay_paypal.svg"
                                                              alt="paypal"/></a>
                    </li>
                </ul>
                <div v-if="liqpayForm" v-html="liqpayForm" class="t-center p-up16"></div>
            </section>
        </section>
    </modal>
</template>

<script>
    //import axios from 'axios'

    export default {
        components: {},
        name: "paymentModal",
        props: [
            'tariffPlan'
        ],
        watch: {
            '$route': function (val) {
                this.$modal.hide('paymentModal');
            }
        },
        data: () => ({
            liqpayForm: ''
        }),
        methods: {
            liqPayButton() {
               this.$axios.get('/api/ajax_get_liqpay_form/' + this.tariffPlan).then(
                    (responce) => {
                        this.liqpayForm = responce.data.replace(/src="(.*?)"/, 'src="/images/icon/button_pay.png"');
                    });
            }
        }
    }
</script>

<style scoped>

</style>