<template>
    <section class="md-modal-content">
        <section class="md-modal-close p-op4inv-h" @click.prevent="$modal.hide('pinNoRegModal')"></section>
        <h4 class="c-orange p-id24">Pin to board functionality is available only on paid subscription</h4>
        <a href="#md-sign-in" class="button" @click.stop.prevent="switchToSignin()">Sign in</a>
        <a href="#md-registration" class="button-reset" @click.stop.prevent="switchToRegister()">or
            create
            account</a>
    </section>
</template>

<script>
    export default {
        name: "pinNoRegModal",
        methods: {
            switchToSignin() {
                this.$modal.hide('pinNoRegModal');
                this.$emit('switch-to-signin');
                this.$modal.show('loginRegisterModal');
            },
            switchToRegister() {
                this.$modal.hide('pinNoRegModal');
                this.$emit('switch-to-register');
                this.$modal.show('loginRegisterModal');
            },
        }
    }
</script>

<style scoped>

</style>