<template>
    <section class="attr-block">
        <section class="attr-head t-small c-gray">{{title}}
            <div v-if="withLine" class="attr-head-line"></div>
        </section>
        <ul class="attr-list" :class="attrs">
            <li v-for="item in data">
                <input type="checkbox" :class="name" :id="name + '-' + item.id"
                       @change="$emit('param-selected')" :value="item.id" :name="name+'[]'"
                       v-model="paramVal">
                <label :for="name + '-' + item.id">{{item.title}}</label>
            </li>
            <li v-if="additionalData" class="p-lp30">+</li>
            <li v-if="additionalData" v-for="item in additionalData">
                <input type="checkbox" :class="additionalName" :id="additionalName + '-' + item.id"
                       @change="$emit('param-selected')" :value="item.id" :name="additionalName+'[]'"
                       v-model="paramAdditionalVal">
                <label :for="additionalName + '-' + item.id">{{item.title}}</label>
            </li>
        </ul>
        <slot>
            <section class=" attr-down">
            </section>
        </slot>
    </section>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        components: {},
        props: [
            'data',
            'title',
            'name',
            'attrs',
            'withLine',
            'additionalData',
            'additionalName'
        ],
        data: function () {
            return {}
        },
        mounted() {
        },
        computed: {
            ...mapGetters({
                searchAdvancedParamValues: 'searchAdvanced/searchAdvancedParamValues',
            }),
            'paramVal': {
                get() {
                    return this.searchAdvancedParamValues[this.name] ? this.searchAdvancedParamValues[this.name] : [];
                },
                set(value) {
                    this.$store.dispatch('searchAdvanced/setSearchAdvancedParamValue', {key: this.name, value: value})
                }
            },
            'paramAdditionalVal': {
                get() {
                    return this.searchAdvancedParamValues[this.additionalName] ? this.searchAdvancedParamValues[this.additionalName] : [];
                },
                set(value) {
                    this.$store.dispatch('searchAdvanced/setSearchAdvancedParamValue', {key: this.additionalName, value: value})
                }
            }
        },
        watch: {},
        methods: {},
    }
</script>
