<template>
    <section class="gr-message">
        <h3 class="c-red p-up0 p-id48">Sorry, but nothing was found at&nbsp;your request <span class="t-nowrap">:(</span></h3>
        <p>Search by&nbsp;name will give you the desired result if&nbsp;the entered brand name is&nbsp;accurate and error free.</p>
        <p>Search by&nbsp;parameters is&nbsp;a&nbsp;more intricate toy. The lack of&nbsp;result may be&nbsp;due to&nbsp;the fact that you have chosen too many different parameters and in&nbsp;our database so&nbsp;far there is&nbsp;not a&nbsp;single symbolics file that corresponds to&nbsp;all of&nbsp;them. Try changing the search parameters (reduce their number or&nbsp;change the configuration).</p>
        <p>If&nbsp;you are sure that you did everything correctly, but there is&nbsp;still no&nbsp;result, then perhaps this is&nbsp;because there is&nbsp;no&nbsp;such symbolics in&nbsp;our database yet. Sorry. Try <a href="https://www.google.com/" target="_blank">searching in&nbsp;Google</a>. It&nbsp;knows everything.</p>
    </section>
</template>

<script>


    export default {
        components: {},
        props: [],
        data: function () {
            return {}
        },
        mounted() {

        },
        methods: {}
    }
</script>
