<template>
    <modal name="tariffPlansModal" :height="'auto'" :clickToClose="$route.name === 'profile'" :scrollable="true"
           :classes="['md-tp-height', 'v--modal']">
        <section class="md-modal-content">
            <section v-if="$route.name === 'profile'" class="md-modal-close p-op4inv-h"
                     @click="$modal.hide('tariffPlansModal')"></section>
            <h4 v-if="!authenticated || (authenticated && currentPlan == 0 && $route.name ==='search_advanced')"
                class="c-orange p-id24">
                Advanced search functionality is available only on a paid subscription
            </h4>
            <h4 v-else class="c-orange p-id24">Change tariff plan</h4>
            <div class="e-tariff-block" :class="{'md-select': currentPlan == 0 && authenticated}">
                <h4 class="c-red p-id16">Free</h4>
                <ul class="p-id16">
                    <li>Download files</li>
                    <li>Search</li>
                    <li class="c-graylight">Advanced search</li>
                    <li class="c-graylight">Boards</li>
                    <li class="c-graylight">Teamwork</li>
                    <li>1 user</li>
                </ul>
                <h3 class="c-gray">Free</h3>
                <p class="t-small p-id16 p-up-12 c-gray">&nbsp;</p>
                <div>
                    <p v-if="currentPlan == 0 && authenticated" class="t-big e-tariff-free">Current plan</p>
                    <button v-else type="submit" @click.prevent="selectPlan()" :disabled="currentPlan > 0 ? 'disabled' : null">Select</button>
                </div>
            </div>
            <div class="e-tariff-block" :class="{'md-select': currentPlan == 1}">
                <h4 class="c-red p-id16">Personal</h4>
                <ul class="p-id16">
                    <li>Download files</li>
                    <li>Search</li>
                    <li>Advanced search</li>
                    <li>Boards</li>
                    <li class="c-graylight">Teamwork</li>
                    <li>1 user</li>
                </ul>
                <h3 class="c-gray">$12</h3>
                <p class="t-small p-id16 p-up-12 c-gray">/year</p>
                <div>
                    <p v-if="currentPlan == 1" class="t-big e-tariff-free">Current plan</p>
                    <button v-else type="submit" @click.prevent="selectPlan(1)" :disabled="currentPlan > 1 ? 'disabled' : null">Select</button>
                </div>
            </div>
            <div class="e-tariff-block" :class="{'md-select': currentPlan == 3}">
                <h4 class="c-red p-id16">Corporate</h4>
                <ul class="p-id16">
                    <li>Download files</li>
                    <li>Search</li>
                    <li>Advanced search</li>
                    <li>Boards</li>
                    <li>Teamwork</li>
                    <li>10 users</li>
                </ul>
                <h3 class="c-gray">$100</h3>
                <p class="t-small p-id16 p-up-12 c-gray">/year</p>
                <div>
                    <p v-if="currentPlan == 3" class="t-big e-tariff-free">Current plan</p>
                    <button v-else type="submit" @click.prevent="selectPlan(2)">Select</button>
                </div>
            </div>
        </section>
    </modal>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: "tariffPlansModal",
        computed: {
            ...mapGetters({
                currentPlan: 'auth/currentPlan',
                authenticated: 'auth/check'
            }),
        },
        data: function () {
            return {
                /*'authenticated': document.head.querySelector('meta[name="auth"]') != null,*/
            }
        },
        methods: {
            selectPlan(plan) {
                if (this.authenticated) {
                    this.$modal.hide('tariffPlansModal');
                    this.$emit('show-payment-modal', {plan: plan});
                } else {
                    this.$modal.hide('tariffPlansModal');
                    this.$emit('switch-to-register');
                    this.$modal.show('loginRegisterModal');
                }
            }
        }
    }
</script>

<style scoped>

</style>