<template>
    <main>
        <h1 class="gr-name p-up32">{{ brand.id ? 'Edit' : 'Add new' }} brand</h1>
        <form autocomplete="false" class="gr-profile p-up64">
            <section class="p-id32">
                <section class="input-field p-id32">
                    <input name="brandname" id="brandname" type="text" class="validate" v-model="brand.title">
                    <label for="brandname" :class="{active: brand.title}">Brand name</label>
                </section>
                <section class="input-field p-id32">
                    <brand-name-alts v-model="brand.brandnamealts"></brand-name-alts>
                </section>

                <section class="input-field p-id32">
                    <v-autocomplete :attach="true" v-model="brand.brandtype.title"
                                    :items="getAutocompleteList('brandtypes')"
                                    open-on-clear
                                    clearable
                                    label="Brand type"></v-autocomplete>
                </section>

                <section class="input-field p-id32">
                    <v-autocomplete :attach="true"
                                    v-model="brand.country.title"
                                    :items="getAutocompleteList('countries')"
                                    open-on-clear
                                    clearable
                                    label="Country"></v-autocomplete>
                </section>
            </section>
            <section class="p-id32">
                <section class="input-field p-id32">
                    <input name="sitename" id="sitename" type="text" class="validate"
                           v-model="brand.site.title">
                    <label for="sitename" :class="{active: brand.site.title}">Site</label>
                </section>
                <section class="input-field p-id32">
                    <input name="sitelink" id="sitelink" type="text" class="validate"
                           v-model="brand.site.sitelink">
                    <label for="sitelink" :class="{active: brand.site.sitelink}">Site link</label>
                </section>
                <section class="input-field p-id32">
                    <chips-autocomplete v-model="brand.targetaudiences"
                                        :autocomplete="getAutocompleteList('targetaudiences')"
                                        label="Target audience"></chips-autocomplete>
                </section>
                <section class="input-field p-id32">
                    <brands-autocomplete label="Predecessor" v-model="brand.predecessor"></brands-autocomplete>
                </section>
                <section class="input-field p-id32">
                    <brands-autocomplete label="Parent" v-model="brand.parent"></brands-autocomplete>
                </section>
            </section>
            <section class="p-id32">
                <section class="input-field p-id32">
                    <chips-autocomplete v-model="brand.sectors" :autocomplete="getAutocompleteList('sectors')"
                                        label="Sector"></chips-autocomplete>
                </section>
                <section class="input-field p-id32">
                    <chips-autocomplete v-model="brand.industries"
                                        :autocomplete="getAutocompleteList('industries')"
                                        label="Industry"></chips-autocomplete>
                </section>
                <section class="input-field p-id32">
                    <img :src="imageIndexUrl" width="100%" v-if="imageIndexUrl"/>
                    <v-text-field label="Image for index" @click='pickImageIndex' v-model='imageIndexName'
                                  prepend-icon='attach_file'></v-text-field>
                    <input
                            type="file"
                            style="display: none"
                            ref="imageIndex"
                            accept="image/*"
                            @change="onImageIndexPicked"
                    >
                </section>
            </section>
        </form>
        <!-- Блок с кнопкой добавления бренда, после нажатия он пропадает, и появляются блоки: + Add Symbolic Block и Save brand -->
        <section v-if="!brand.id" class="gr-col">
            <button type="submit" @click.prevent="saveBrand">Add brand</button>
            <a href="#" class="button-reset" @click.prevent="resetForm">reset</a>
        </section>

        <symbolic-block v-for="(symbolic, index) in brand.symbolics" :block-index="index" :symbolic.sync="symbolic"
                        :params="params" :key="index"
                        @delete-symbolic="showDeleteSymbolicModal($event)"></symbolic-block>

        <p v-if="brand.id" class="gr-col t-big p-up64 p-id0">
            <a href="#" class="l-local" @click.prevent="brand.symbolics.push(getSymbolicTemplate())">+ Add Symbolic
                Block</a>
        </p>
        <section v-if="brand.id" class="gr-col p-up64">
            <button type="submit" @click.prevent="saveBrand">Save Brand</button>
            <a href="#" class="button-reset" @click="$modal.show('deleteBrand')">delete</a>
        </section>
        <modal name="deleteBrand" :height="'auto'" :width="320">
            <section class="md-modal-content">
                <section class="md-modal-close p-op4inv-h" @click="$modal.hide('deleteBrand')"></section>
                <h4 class="c-orange p-id24">Are you sure you want to&nbsp;remove this brand?</h4>
                <button type="submit"
                        @click.prevent="$modal.hide('deleteBrand')">no
                </button>
                <button class="b-reset"
                        @click.prevent="deleteBrand()">Yes
                </button>
            </section>
        </modal>
        <modal name="deleteSymbolic" :height="'auto'" :width="320">
            <section class="md-modal-content">
                <section class="md-modal-close p-op4inv-h" @click="$modal.hide('deleteSymbolic')"></section>
                <h4 class="c-orange p-id24">Are you sure delete symbolic?</h4>
                <button type="submit"
                        @click.prevent="$modal.hide('deleteSymbolic')">no
                </button>
                <button class="b-reset"
                        @click.prevent="deleteSymbolic()">Yes
                </button>
            </section>
        </modal>
    </main>
</template>


<script>
    import BrandNameAlts from '../../components/admin/brandNameAlts'
    import ChipsAutocomplete from '../../components/admin/chipsAutocomplete'
    import BrandsAutocomplete from '../../components/admin/brandsAutocomplete'
    import SymbolicBlock from '../../components/admin/symbolicBlock'
    import swal from 'sweetalert2'

    export default {
        middleware: [
            'auth',
            'edit-brands'
        ],
        components: {
            BrandNameAlts,
            ChipsAutocomplete,
            BrandsAutocomplete,
            SymbolicBlock
        },
        props: [],
        data: function () {
            return {
                brand: this.getBrandTemplate(),
                params: {},
                imageIndexName: '',
                imageIndexUrl: '',
                deleteSymbolicId: 0,
            }
        },
        computed: {},
        watch: {},
        created() {
            this.getParams();
            if (this.$route.params.id.toString() !== '0') this.loadBrand(this.$route.params.id);
        },
        methods: {
            loadBrand(id) {
                this.$axios.get('/api/ajax_get_brand/' + id)
                    .then(({data}) => {
                        this.brand = this.attachEmptyProperties(data);
                        this.attachIndexImage();
                    })
            },
            attachEmptyProperties(data) {
                let template = this.getBrandTemplate();
                Object.keys(template).forEach(key => {
                    if (!data.hasOwnProperty(key) || (template[key].title !== undefined && (data[key] === null || data[key].title === undefined))) {
                        Object.assign(data, {[key]: template[key]})
                    }
                });
                //console.log(data);
                return data;
            },
            getParams() {
                this.$axios.get('/api/ajax_get_brand_params').then(responce => {
                    this.params = responce.data;
                })
            },
            getAutocompleteList(paramName) {
                if (this.params[paramName] !== undefined) {
                    return Array.from(this.params[paramName], (v, k) => v.title)
                }
                return []
            },
            pickImageIndex() {
                this.$refs.imageIndex.click()
            },
            onImageIndexPicked(e) {
                const files = e.target.files
                if (files[0] !== undefined) {
                    this.imageIndexName = files[0].name
                    if (this.imageIndexName.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                        this.imageIndexUrl = fr.result
                        let formData = new FormData();
                        formData.append('image', files[0]);
                        this.$axios.post('/api/ajax_upload_main_image', formData)
                            .then(({data}) => {
                                this.brand.main_page_image = JSON.stringify(data);
                                this.$store.dispatch('mainpage/setMessage', 'Image successfully uploaded');
                            })
                    })
                } else {
                    this.imageIndexName = ''
                    this.imageIndexUrl = ''
                }
            },
            attachIndexImage() {
                if (this.brand.main_page_image !== undefined && this.brand.main_page_image) {
                    let file = JSON.parse(this.brand.main_page_image);
                    if (file.length) {
                        this.imageIndexName = file[0].original_name;
                        this.imageIndexUrl = '/storage/' + file[0].download_link;
                    }
                }
            },
            showDeleteSymbolicModal(id) {
                this.deleteSymbolicId = id;
                this.$modal.show('deleteSymbolic');
            },
            deleteSymbolic() {
                this.brand.symbolics.splice(this.deleteSymbolicId, 1);
                this.$modal.hide('deleteSymbolic');
            },
            getBrandTemplate() {
                return {
                    title: '',
                    brandnamealts: [],
                    brandtype: {
                        title: ''
                    },
                    country: {
                        title: ''
                    },
                    site: {
                        sitelink: '',
                        title: ''
                    },
                    targetaudiences: [],
                    predecessor: [],
                    parent: [],
                    sectors: [],
                    industries: [],
                    symbolics: []
                }
            },
            getSymbolicTemplate() {
                return {
                    sort: 0,
                    status: 0,
                    rating: 0,
                    years: [],
                    authors: [],
                    symbolicfiles: [],
                    designguides: [],
                    materials: [],
                }
            },
            resetForm() {
                this.brand = this.getBrandTemplate()
            },
            saveBrand() {
                this.$axios.post('/api/ajax_save_brand', this.brand).then(({data}) => {
                    this.brand = this.attachEmptyProperties(data);
                    this.$store.dispatch('mainpage/setMessage', 'Brand successfully saved.');
                }).catch(e => {
                    //console.log(e.response.data.errors);
                    let messagesArr = Array.from(Object.keys(e.response.data.errors), (v, k) => e.response.data.errors[v].join("\n"));
                    swal.fire('Brand save error', messagesArr.join("<br>"));
                    this.$store.dispatch('mainpage/setMessage', 'Brand save error');
                })
            },
            deleteBrand() {
                this.$axios.get('/api/ajax_delete_brand/' + this.brand.id)
                    .then(responce => {
                        this.$modal.hide('deleteBrand');
                        this.$store.dispatch('mainpage/setMessage', 'Brand has been deleted');
                        this.$router.push({name: 'admin.brands'})
                    })
            },
        },
        head() {
            return {
                title: 'Admin: Brand',
                link: [
                    {rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css"}
                ]
            }
        }

    }
</script>
