<template>
    <main>
        <h1 class="gr-name p-up32">Brand list</h1>
        <section class="gr-brand-but p-up64 p-id48">
            <button type="submit" @click="$router.push({name:'admin.brand', params:{id:0}})">Add new brand</button>
        </section>
        <section class="gr-brand-search input-field p-id48">
            <form @submit.prevent="getResults()">
                <input name="brand-all" id="search-field" type="search" v-model="queryString">
                <label for="search-field" :class="{'active': queryString}">Search brand</label>
            </form>
        </section>
        <ul class="gr-full brand-add-sort p-id8">
            <li><a href="#" class="t-small l-no select">Id</a></li>
            <li><a href="#" class="t-small l-no">Title</a></li>
            <li><a href="#" class="t-small l-no">Image</a></li>
            <li><a href="#" class="t-small l-no">Brand type</a></li>
            <li><a href="#" class="t-small l-no">Countries</a></li>
            <li><a href="#" class="t-small l-no">Sites</a></li>
        </ul>
        <ul class="gr-full brand-add-list">
            <li v-for="brand in brands">
                <p>{{brand.id}}</p>
                <p>{{brand.title}}</p>
                <p><img :src="getImgPath(brand)"/></p>
                <p>{{brand.brandtype ? brand.brandtype.title : ''}}</p>
                <p>{{brand.country ? brand.country.title : ''}}</p>
                <p><a target="_blank" :href="brand.site ? brand.site.sitelink : ''">{{brand.site ? brand.site.title :
                    ''}}</a></p>
                <div>
                    <router-link :to="{name: 'admin.brand', params:{id:brand.id}}" class="l-no p-op4inv-h"><img
                            src="/images/icon/ico_board_pen.svg"></router-link>
                    <a href="#" class="l-no p-op4inv-h md-modal-open"
                       @click.prevent="$modal.show('deleteBrand', {id: brand.id})"><img
                            src="/images/icon/ico_board_crest.svg"></a>
                </div>
            </li>
        </ul>
        <modal name="deleteBrand" :height="'auto'" :width="320" @before-open="modalBeforeOpen">
            <section class="md-modal-content">
                <section class="md-modal-close p-op4inv-h" @click="$modal.hide('deleteBrand')"></section>
                <h4 class="c-orange p-id24">Are you sure you want to&nbsp;remove this brand?</h4>
                <button type="submit"
                        @click.prevent="$modal.hide('deleteBrand')">no
                </button>
                <button class="b-reset"
                        @click.prevent="deleteBrand()">Yes
                </button>
            </section>
        </modal>
    </main>
</template>

<script>
    export default {
        middleware: [
            'auth',
            'edit-brands'
        ],
        props: [],
        data: function () {
            return {
                'queryString': '',
                'brands': [],
                'brand_id': 0
            }
        },
        computed: {},
        watch: {},
        created() {
            this.getResults();
        },
        methods: {
            getResults: function () {
                this.$axios.get('/api/ajax_search_admin?q=' + encodeURIComponent(this.queryString))
                    .then(responce => {
                        this.brands = responce.data;
                    })
            },
            getImgPath: function (resultObj) {
                let jsonData = JSON.parse(resultObj.main_page_image);
                if (jsonData && jsonData.length) {
                    return '/storage/' + jsonData[0].download_link;
                }
                return '';
            },
            deleteBrand() {
                this.$axios.get('/api/ajax_delete_brand/' + this.brand_id)
                    .then(responce => {
                        this.$modal.hide('deleteBrand');
                        this.$store.dispatch('mainpage/setMessage', 'Brand has been deleted');
                        this.getResults();
                    })
            },
            modalBeforeOpen(event) {
                this.brand_id = event.params.id;
            }
        },
        head() {
            return {
                title: 'Admin: Brands',
                link: [
                    {rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css"}
                ]
            }
        }

    }
</script>
