/* @group basic */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i&subset=cyrillic-ext');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
html, body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #263238;
	height: 100%;
}

#__nuxt,
#__layout {
    display: block;
    width: 100%;
    height: 100%;
}

a:link,
a:active,
a:visited {
	color: #263238;
	text-decoration: none;
	border-bottom: 1px solid rgba(213, 0, 0, .3);
	transition: all .3s;
}
a:hover {
	color: #263238;
	text-decoration: none;
	border-bottom: 1px solid rgba(213, 0, 0, 1);
}
a.l-local:link,
a.l-local:active,
a.l-local:visited  {
	border-bottom: 1px dashed rgba(213, 0, 0, .3);
}
a.l-local:hover {
	border-bottom: 1px dashed rgba(213, 0, 0, 1);
}
a.l-no:link {	
	border-bottom: none;
}
/* @end */

/* @group container */
body,
main,
footer,
.gr-full {
	display: grid;
	grid-template-columns: 2% repeat(12, minmax(min-content, 1fr)) 2%;
	grid-column-gap: 2%;
	grid-column: 1 / span 14;
}
body {
	grid-template-rows: auto 192px;
}
header {
	width: 40px;
	height: 40px;
	grid-row-start: 1;
	grid-column: 12 / span 2;	
	justify-self: end;
	margin-top: 36px;
	position: relative;
}
main {
	grid-row-start: 1;
	align-content: start;
}
body.index main {
	grid-row: 1 / span 2;
	grid-template-rows: minmax(120px, 1fr) 2fr 1fr;
}
footer {
	align-content: end;
}
body.index footer {
	grid-row: 2;
}

.gr-block {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
	grid-column-gap: 2.2%;
	grid-row-gap: 24px;
	grid-column: 2 / span 12;
	grid-auto-flow: row;
	align-content: start;
}
.gr-search {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	grid-column-gap: 2.2%;
	grid-row-gap: 48px;
	grid-column: 2 / span 12;
	grid-auto-flow: row;
	align-content: start;
}
.gr-profile {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	grid-column-gap: 2.2%;
	grid-column: 2 / span 12;
	grid-auto-flow: row;
	align-content: start;
}
.gr-tb {
	position: relative;
}
.gr-tb::before {
	content: "";
	display: block;
	padding-top: 62%;
}

.gr-col {
	grid-column: 2 / span 12;
}
.gr-lc,
.gr-rc {
	grid-column: 2 / span 12;
}
/* @end */

/* @group parameters */
.p-center {
	justify-self: center;
}
.p-end {
	justify-self: end;
}

	/* @group margin */
	.p-id0 {
	margin-bottom: 0;
}
	.p-id4 {
	margin-bottom: 4px;
}
	.p-id8 {
	margin-bottom: 8px;
}
	.p-id12 {
	margin-bottom: 12px;
}
	.p-id16 {
	margin-bottom: 16px;
}
	.p-id24 {
	margin-bottom: 24px;
}
	.p-id32 {
	margin-bottom: 32px;
}
	.p-id48 {
	margin-bottom: 48px;
}
	.p-id64 {
	margin-bottom: 64px;
}
	.p-id80 {
	margin-bottom: 80px;
}
	.p-id96 {
	margin-bottom: 96px;
}
	.p-id128 {
	margin-bottom: 128px;
}
	.p-id192 {
	margin-bottom: 192px;
}
	.p-id256 {
	margin-bottom: 256px;
}
	.p-up-12 {
		margin-top: -12px;
	}
	.p-up0 {
		margin-top: 0;
	}
	.p-up4 {
	margin-top: 4px;
}
	.p-up8 {
	margin-top: 8px;
}
	.p-up12 {
	margin-top: 12px;
}
	.p-up16 {
	margin-top: 16px;
}
	.p-up24 {
	margin-top: 24px;
}
	.p-up32 {
	margin-top: 32px;
}
	.p-up48 {
	margin-top: 48px;
}
	.p-up64 {
	margin-top: 64px;
}
	.p-up80 {
	margin-top: 80px;
}
	.p-up96 {
	margin-top: 96px;
}
	.p-up128 {
	margin-top: 128px;
}
	.p-up192 {
	margin-top: 192px;
}
	.p-up256 {
		margin-top: 256px;
	}
	.p-lp32 {
	    margin-left: 32px !important;
	}
	/* @end */
	/* @group padding */
	.p-id0p {
	padding-bottom: 0;
}
	.p-id4p {
	padding-bottom: 4px;
}
	.p-id8p {
	padding-bottom: 8px;
}
	.p-id12p {
	padding-bottom: 12px;
}
	.p-id16p {
	padding-bottom: 16px;
}
	.p-id24p {
	padding-bottom: 24px;
}
	.p-id32p {
	padding-bottom: 32px;
}
	.p-id48p {
	padding-bottom: 48px;
}
	.p-id64p {
	padding-bottom: 64px;
}
	.p-id80p {
	padding-bottom: 80px;
}
	.p-id96p {
	padding-bottom: 96px;
}
	.p-id128p {
	padding-bottom: 128px;
}
	.p-id192p {
	padding-bottom: 192px;
}
	.p-id256p {
	padding-bottom: 256px;
}
	.p-up0p {
	padding-top: 0;
}
	.p-up4p {
	padding-top: 4px;
}
	.p-up8p {
	padding-top: 8px;
}
	.p-up12p {
	padding-top: 12px;
}
	.p-up16p {
	padding-top: 16px;
}
	.p-up24p {
	padding-top: 24px;
}
	.p-up32p {
	padding-top: 32px;
}
	.p-up48p {
	padding-top: 48px;
}
	.p-up64p {
	padding-top: 64px;
}
	.p-up80p {
	padding-top: 80px;
}
	.p-up96p {
	padding-top: 96px;
}
	.p-up128p {
	padding-top: 128px;
}
	.p-up192p {
	padding-top: 192px;
}
	.p-up256p {
	padding-top: 256px;
}
	/* @end */
	/* @group colors */
	.c-white {
		color: #ffffff !important;
	}
	.c-black {
		color: #263238 !important;
	}
	.c-gray {
		color: #78909c !important;
	}
	.c-graylight {
		color: #cfd8dc !important;
	}
	.c-red {
		color: #d50000 !important;
	}
	
	.c-bg-pink,
	ul.board-colors li > a > .c-bg-pink {
		background: rgb(248, 187, 208, .4);
		transition: all .3s;
	}
	.c-bg-pink:hover,
	ul.board-colors li > a:hover > .c-bg-pink {
		background: rgb(248, 187, 208, .8);
	}
	.c-bg-brown,
	ul.board-colors li > a > .c-bg-brown {
		background: rgb(188, 170, 164, .4);
		transition: all .3s;
	}
	.c-bg-brown:hover,
	ul.board-colors li > a:hover > .c-bg-brown {
		background: rgb(188, 170, 164, .8);
	}
	.c-bg-blue,
	ul.board-colors li > a > .c-bg-blue {
		background: rgb(129, 212, 250, .4);
		transition: all .3s;
	}
	.c-bg-blue:hover,
	ul.board-colors li > a:hover > .c-bg-blue {
		background: rgb(129, 212, 250, .8);
	}		
	.c-bg-green,
	ul.board-colors li > a > .c-bg-green {
		background: rgb(165, 214, 167, .4);
		transition: all .3s;
	}
	.c-bg-green:hover,
	ul.board-colors li > a:hover > .c-bg-green {
		background: rgb(165, 214, 167, .8);
	}	
	.c-bg-purple,
	ul.board-colors li > a > .c-bg-purple {
		background: rgb(179, 157, 219, .4);
		transition: all .3s;
	}
	.c-bg-purple:hover,
	ul.board-colors li > a:hover > .c-bg-purple {
		background: rgb(179, 157, 219, .8);
	}	
	.c-bg-yellow,
	ul.board-colors li > a > .c-bg-yellow {
		background: rgb(255, 224, 130, .4);
		transition: all .3s;
	}
	.c-bg-yellow:hover,
	ul.board-colors li > a:hover > .c-bg-yellow {
		background: rgb(255, 224, 130, .8);
	}
	.c-bg-orange,
	ul.board-colors li > a > .c-bg-orange {
		background: rgb(255, 171, 145, .4);
		transition: all .3s;
	}
	.c-bg-orange:hover,
	ul.board-colors li > a:hover > .c-bg-orange {
		background: rgb(255, 171, 145, .8);
	}
	/* @end */	
	/* @group opacity */
	.p-op5 {
		opacity: .5;
		filter: alpha(opacity=50);
	}
	.p-op5-h {
		opacity: 1;
		filter: alpha(opacity=100);
		transition: all .3s;
	}
	.p-op5-h:hover {
		opacity: .5;
		filter: alpha(opacity=50);
	}
	.p-op4inv-h {
		opacity: .4;
		filter: alpha(opacity=40);
		transition: all .3s;
	}
	.p-op6inv-h {
		opacity: .6;
		filter: alpha(opacity=60);
		transition: all .3s;
	}
	.p-op4inv-h:hover,
	.p-op6inv-h:hover {
		opacity: 1;
		filter: alpha(opacity=100);
	}
	/* @end */	
	/* @group z-index */
	.p-zi2 {
		z-index: 2 !important;
	}
	.p-zi3 {
		z-index: 3 !important;
	}
	.p-zi4 {
	z-index: 4 !important;
}
	.p-zi5 {
	z-index: 5 !important;
}
	.p-zi6 {
	z-index: 6 !important;
}
	.p-zi7 {
	z-index: 7 !important;
}
	.p-zi8 {
	z-index: 8 !important;
}
	.p-zi9 {
	z-index: 9 !important;
}
	.p-zi10 {
	z-index: 10 !important;
}
	/* @end */
/* @end */

/* @group text */
h1 { 
	font: 2.9em/1.1em Roboto;
	font-weight: 300;
	margin-bottom: 12px;
}
h1.gr-name {
	grid-column: 2 / span 10;	
	grid-row-start: 1;
	line-height: 1em !important;
}
h1.gr-name > span {
	font-size: 28%;
	margin-top: -10px;
	position: absolute;
	display: inline-block;
	white-space: nowrap;
}
h1.gr-name > span > a {
	margin-left: 12px;
}
h1.slogan {
	grid-row: 2;
	grid-column: 2 / span 12;
	font: 1.8em/1.3em Roboto;
	font-weight: 300;
}
h1.slogan > span {
	padding: 1px 0 2px 0;
	background-color: rgba(255, 255, 255, .5);
}
h2 {
	font: 2.2em/1.2em Roboto;
	font-weight: 300;
	margin-bottom: 8px;
}
h3 {
	font: 1.8em/1.2em Roboto;
	font-weight: 300;
	margin-bottom: 6px;
}
h4 {
	font: 1.4em/1.3em Roboto;
	font-weight: 300;
	margin-bottom: 4px;
}
h5 {
	font: 1.2em/1.4em Roboto;
	font-weight: 400;
	margin-bottom: 4px;
}
p {
	font: 1em/1.6em 'Roboto';
	font-weight: 300;
	margin-bottom: 16px;
}
p:last-child {
	margin-bottom: 0;
}
.t-big {
	font: 1.2em/1.5em Roboto;
	font-weight: 300;
}
.t-small {
	font: .85em/1.5em Roboto;
	font-weight: 300;
}
.t-italic {
	font-style: italic !important;
}
.t-bold {
	font-weight: bolder !important;
}

.t-nowrap {
	white-space: nowrap;
}
.t-lh1 {
    line-height: 1.1 !important;
}
.t-lh2 {
    line-height: 1.2 !important;
}
.t-lh3 {
    line-height: 1.3 !important;
}
.t-lh4 {
    line-height: 1.4 !important;
}
.t-lh5 {
    line-height: 1.5 !important;
}
.t-lh6 {
    line-height: 1.6 !important;
}
/* @end */

/* @group elements */
ul {
	list-style-type: none;
}

ul.e-select li {
	display: inline-block;
	margin: 0 22px 8px 0;
}
ul.e-select li:last-child {
	margin: 0;
}
ul.e-select li > .i-pin {
	margin-left: 22px;
}
ul.e-select li > .i-pin > img {
	margin: 0 2px 0 -22px;
	
}

ul.e-param-list li {
	display: inline-block;
	margin: 0 0 2px 0;
}
ul.e-param-list li:after {
	content: "|";
	padding: 0 8px;
}
ul.e-param-list li:last-child:after {
	content: "";
	padding: 0;
}
ul.e-param-list li > ul {
	display: inline-block;
}
ul.e-param-list li > ul li {
	display: inline-block;
	margin: 0;
}
ul.e-param-list li > ul li:after {
	content: ",";
	padding: 0 8px 0 0;
}
ul.e-param-list li > ul li:last-child:after {
	content: "";
	padding: 0;
}

.gr-tb > a {
	display: grid;
	align-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.gr-tb > a > img {
	width: 100%;
}

.gr-tb > .i-block {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all .3s;
	z-index: 2;
}
.gr-tb:hover > .i-block {
	opacity: 100;
	filter: alpha(opacity=100);
}

.i-downl > img,
.i-pin > img {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    display: inline-block;
    opacity: .4;
    filter: alpha(opacity=40);
    transition: all .3s;
}
.i-downl:hover > img,
.i-pin:hover > img {
	opacity: 1;
	filter: alpha(opacity=100);
}
.i-pin:hover > img {
	transform: rotate(45deg);
}
.i-downl-select > img {
	opacity: 1;
	filter: alpha(opacity=100);
}
.i-pin-select > img {
	opacity: 1;
	filter: alpha(opacity=100);
	transform: rotate(45deg);
}


.e-logo-block {
	margin-bottom: 128px;
	align-items: start;
}
.e-logo-block:last-child {
	margin-bottom: 0;
}
.e-logo-img {
	grid-column: 1 / span 14;
}
.e-logo-img > img {
	max-width: 600px;
}
.e-logo-info,
.e-logo-file {
	grid-column: 2 / span 12;
}
.e-logo-img {
	margin-bottom: 48px;
}
.e-logo-info {
	margin-bottom: 32px;
}
ul.e-author-year li {
	margin-bottom: 4px;
}
ul.e-rating li {
	width: 22px;
	height: 22px;
	display: inline-block;
	margin-right: 4px;
	background: url('/images/icon/ico_star.svg') no-repeat;
	opacity: .3;
	filter: alpha(opacity=30);
}

#rate1 > li:nth-child(1) {
	opacity: 1;
	filter: alpha(opacity=100);
}
#rate2 > li:nth-child(1),
#rate2 > li:nth-child(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}
#rate3 > li:nth-child(1),
#rate3 > li:nth-child(2),
#rate3 > li:nth-child(3) {
	opacity: 1;
	filter: alpha(opacity=100);
}
#rate4 > li:nth-child(1),
#rate4 > li:nth-child(2),
#rate4 > li:nth-child(3),
#rate4 > li:nth-child(4) {
	opacity: 1;
	filter: alpha(opacity=100);
}
#rate5 > li:nth-child(1),
#rate5 > li:nth-child(2),
#rate5 > li:nth-child(3),
#rate5 > li:nth-child(4),
#rate5 > li:nth-child(5) {
	opacity: 1;
	filter: alpha(opacity=100);
}

.e-logo-file > ul {
	margin-bottom: 32px;
}
.e-logo-file > ul:last-child {
	margin-bottom: 0;
}
.e-logo-file > ul li {
	margin-bottom: 12px;
	position: relative;
}
.e-logo-file > ul li:last-child {
	margin-bottom: 0;
}
.e-logo-file > ul li > sup {
	font-size: 35%;
	color: #78909c;
	margin-left: 4px;	
}

.l-select:before {
	content: "";
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #78909c;
	position: absolute;
	left: -12px;
	top: 6px;
}

.e-warning {
	padding-left: 42px;
    background: url(/images/icon/ico_bg-warning.svg) no-repeat 0 5px /32px 32px;
}

.attr-block {
    position: relative;
}
.attr-head {
    width: 100%;
    height: 32px;
    top: 0;
    position: absolute;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 65%);
    z-index: 3;
}
.attr-down {
    width: 100%;
    height: 32px;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 95%);
    z-index: 3;
}
.attr-down-only {
    width: 100%;
    height: 60px;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 45%);
    z-index: 3;
}
.attr-head-line-only {
	width: 100%;
	height: 1px;
	background-color: #cfd8dc;
	display: block;
	position: relative;
	margin: 30px 0 8px 0;
}
.attr-head-line {
    width: 82%;
    height: 1px;
    background-color: #cfd8dc;
    display: inline-block;
    position: absolute;
    margin: 10px 0 0 15px;
}
ul.attr-list {
    list-style: none;
	height: 230px;
    overflow-y: auto;
    position: relative;
}
ul.attr-list li {
	margin: 0 0 14px 0;
}
ul.attr-list li:first-child {
	margin-top: 32px;
}
ul.attr-list li:last-child {
	margin-bottom: 32px;
}
ul.attr-list li:last-child {
	margin-bottom: 32px;
}
.attr-head-rating {
    width: 100%;
    height: 32px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 65%);
    z-index: 3;
}

.attr-onepar {
	height: 60px !important;
}
.attr-onepar > li {
	margin-bottom: 0 !important;
}
.attr-twopar {
	height: 130px !important;
}
.attr-fivepar {
	height: 200px !important;
}

#par-symbolics,
#par-extra {
    display: none;
}

#reviewstars-input input:checked ~ label,
#reviewstars-input label,
#reviewstars-input label:hover,
#reviewstars-input label:hover ~ label {
  background: url('/images/icon/ico_star_two-s.svg') no-repeat top right / 22px 44px;
}
#reviewstars-input {  
  overflow: hidden;
  *zoom: 1; 
  position: relative;
  float: left;
}
#reviewstars-input input {
  opacity: 0;  
  width: 22px;
  height: 22px;  
  position: absolute;
  top: 0;
  z-index: 0;
}
#reviewstars-input input:checked ~ label {
  background-position: 0 -22px;
  height: 22px;
  width: 22px;
}
#reviewstars-input label {
  background-position: 0 0;
  height: 22px;
  width: 22px;
  float: right;
  cursor: pointer;
  margin-right: 4px;  
  position: relative;
  z-index: 1;
}
#reviewstars-input label:hover,
#reviewstars-input label:hover ~ label {
  background-position: 0 -22px;
  height: 22px;
  width: 22px;
}
#reviewstars-input #star-1 {
  left: 0px;
}
#reviewstars-input #star-2 {
  left: 26px;
}
#reviewstars-input #star-3 {
  left: 52px;
}
#reviewstars-input #star-4 {
  left: 78px;
}
#reviewstars-input #star-5 {
  left: 104px;
}
#reviewstars-input #star-6 {
  left: 130px;
}

.l-date {
	font-size: 70%;
	margin-left: 6px;	
}

ul.board-list li {
	min-height: 32px;
	padding: 16px 0;
}
ul.board-list li > p {
	margin-bottom: 0;
}
.board-icon {	
	width: 32px;
	grid-row: 1;
	grid-column: 2 / span 2;
}
.board-name {
	grid-row: 1;
	grid-column: 2 / span 8;
	line-height: 1.3em;
	margin: 5px 0 6px 42px;
	transition: all .3s;	
}
.board-name:hover {
	color: white;
}

.board-count {
	grid-column: span 7;
}
.board-date {
	grid-column: span 6;
}
.board-inst {
	grid-row: 1;
	grid-column: span 4;
}
.board-inst > a {
	display: inline-block;
    width: 22px;
    height: 22px;	
    margin: 4px 0 0 8px;
    border-bottom: none;
}
.board-inst > a:first-child {
    margin-left: 0;
}
.bg-circle {
    background-image: url(/images/icon/ico_board_circle_bg.svg);
}
.bg-pen {
    background-image: url(/images/icon/ico_board_pen_bg.svg);
}
.bg-cross {
    background-image: url(/images/icon/ico_board_crest_bg.svg);
}
.bg-circle > img, .bg-pen > img, .bg-cross > img {
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all .3s;
}
.board-inst > a:hover > img {
    opacity: 1;
    filter: alpha(opacity=100);
}
.board-sort {
    width: 8px;
    height: 8px;
	margin-bottom: 8px;
    background-image: url(/images/icon/ico_arrow.svg);
    transition: all .3s;
    opacity: .3;
    filter: alpha(opacity=30);
}
.board-sort:hover,
.board-select {
    opacity: 1;
    filter: alpha(opacity=100);
}
.board-sort-name {
	grid-column: 2 / span 3;
	margin-left: 42px;
	
}
.board-sort-count {
	grid-column: 7;	
}
.board-sort-date {
	grid-column: 13;	
}

ul.board-colors {
	list-style: none;
	position: absolute;
	margin-top: -32px;
	margin-left: -8px;
	padding: 8px;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	/* opacity: 0; изначально список цветов скрыт*/
	z-index: 5;
}
ul.board-colors li {	
	margin: 0 0 4px 24px;
	font: .85em/1.5em Roboto;
	font-weight: 300;
	min-height: 18px;
	padding: 0;
	vertical-align: middle;
	transition: .3s;
}
ul.board-colors li > a {
	border-bottom: none;
}
ul.board-colors li > a > span {
	display: inline-block;
	position: absolute;
	width: 18px;
	height: 18px;
	margin: 1px 0 0 -22px;
	border-radius: 9px;
}

.e-reg-select {
	display: block;
	text-align: center;
}
ul.e-reg-icon {
	text-align: center;
}
ul.e-reg-icon li {
	width: 48px;
	height: 48px;
	margin: 0 12px;
	display: inline-block;
}
ul.e-reg-icon li:nth-child(1) {
	background: url('/images/icon/ico_fb_bg.svg') no-repeat left top;
}
ul.e-reg-icon li:nth-child(2) {
	background: url('/images/icon/ico_gp_bg.svg') no-repeat left top;
}
ul.e-reg-icon li:nth-child(3) {
	background: url('/images/icon/ico_tw_bg.svg') no-repeat left top;
}
ul.e-reg-icon li > a {
	border-bottom: none;
}
ul.e-reg-icon li > a > img {
	width: 48px;
	height: 48px;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all .3s;
}
ul.e-reg-icon li > a > img:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.e-tariff-block {
	width: 100%;
	background-color: #ffffff;
	padding: 16px 0;
	margin-bottom: 16px;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1);
	transition: all .3s;	
	vertical-align: top;
}
.e-tariff-block:hover {
	box-shadow: 0 0 10px 3px rgba(213, 0, 0, .25);
}
.md-select {
	box-shadow: 0 0 10px 3px rgba(68, 160, 70, .25) !important;
}
.e-tariff-block > h3,
.e-tariff-block > h4,
.e-tariff-block > p,
.e-tariff-block > ul {
	margin-left: 16px;
	margin-right: 16px;
}
.e-tariff-block > ul li {
	margin-bottom: 8px;
}
.e-tariff-block > ul li:last-child {
	margin-top: 18px;
	margin-bottom: 32px;
}
.e-tariff-block > h3,
.e-tariff-block > p,
.e-tariff-block > div {
	text-align: center;
}
.e-tariff-free {
	padding: 7px 0;
}
/* @end */

/* @group form field */
.input-field {
	width: 100%;
	min-height: 64px;
	position: relative;
}
.input-field label {
	color: #78909c; /* label color */
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	font-size: 1rem;
	cursor: text;
	transition: transform .2s ease-out;	
	-webkit-transition: -webkit-transform .2s ease-out;
	transform-origin: 0% 100%;	
	-webkit-transform-origin: 0% 100%;
	transform: translateY(6px);
	-webkit-transform: translateY(6px);
	pointer-events: none;
}
.input-field label:not(.label-icon).active {
	transform: translateY(-12px) scale(0.8);
	-webkit-transform: translateY(-12px) scale(0.8);
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}
.input-field.inline {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
.input-field.inline input,
.input-field.inline .select-dropdown {
	margin-bottom: 1rem
}
input, 
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
label {
	font-size:.8rem;
	color:#78909c;
}
::placeholder {
	color: #78909c;
}

	/* @group input and textarea */
	input:not([type]),
	input[type=text]:not(.browser-default),
	input[type=password]:not(.browser-default),
	input[type=email]:not(.browser-default),
	input[type=url]:not(.browser-default),
	input[type=time]:not(.browser-default),
	input[type=date]:not(.browser-default),
	input[type=datetime]:not(.browser-default),
	input[type=datetime-local]:not(.browser-default),
	input[type=tel]:not(.browser-default),
	input[type=number]:not(.browser-default),
	input[type=search]:not(.browser-default),
	textarea.materialize-textarea {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #78909c;
		border-radius: 0;
		outline: none;
		height: 2rem;
		width: 100%;
		font-size: 1rem;
		margin: 0 0 6px 0;
		padding: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
		-webkit-transition: all 0.3s;
		transition: all 0.3s
	}
	input:not([type]):disabled,
	input:not([type])[readonly="readonly"],
	input[type=text]:not(.browser-default):disabled,
	input[type=text]:not(.browser-default)[readonly="readonly"],
	input[type=password]:not(.browser-default):disabled,
	input[type=password]:not(.browser-default)[readonly="readonly"],
	input[type=email]:not(.browser-default):disabled,
	input[type=email]:not(.browser-default)[readonly="readonly"],
	input[type=url]:not(.browser-default):disabled,
	input[type=url]:not(.browser-default)[readonly="readonly"],
	input[type=time]:not(.browser-default):disabled,
	input[type=time]:not(.browser-default)[readonly="readonly"],
	input[type=date]:not(.browser-default):disabled,
	input[type=date]:not(.browser-default)[readonly="readonly"],
	input[type=datetime]:not(.browser-default):disabled,
	input[type=datetime]:not(.browser-default)[readonly="readonly"],
	input[type=datetime-local]:not(.browser-default):disabled,
	input[type=datetime-local]:not(.browser-default)[readonly="readonly"],
	input[type=tel]:not(.browser-default):disabled,
	input[type=tel]:not(.browser-default)[readonly="readonly"],
	input[type=number]:not(.browser-default):disabled,
	input[type=number]:not(.browser-default)[readonly="readonly"],
	input[type=search]:not(.browser-default):disabled,
	input[type=search]:not(.browser-default)[readonly="readonly"],
	textarea.materialize-textarea:disabled,
	textarea.materialize-textarea[readonly="readonly"] {
		color: rgba(0,0,0,0.42);
		border-bottom: 1px dotted rgba(0,0,0,0.42);
	}
	input:not([type]):disabled+label,
	input:not([type])[readonly="readonly"]+label,
	input[type=text]:not(.browser-default):disabled+label,
	input[type=text]:not(.browser-default)[readonly="readonly"]+label,
	input[type=password]:not(.browser-default):disabled+label,
	input[type=password]:not(.browser-default)[readonly="readonly"]+label,
	input[type=email]:not(.browser-default):disabled+label,
	input[type=email]:not(.browser-default)[readonly="readonly"]+label,
	input[type=url]:not(.browser-default):disabled+label,
	input[type=url]:not(.browser-default)[readonly="readonly"]+label,
	input[type=time]:not(.browser-default):disabled+label,
	input[type=time]:not(.browser-default)[readonly="readonly"]+label,
	input[type=date]:not(.browser-default):disabled+label,
	input[type=date]:not(.browser-default)[readonly="readonly"]+label,
	input[type=datetime]:not(.browser-default):disabled+label,
	input[type=datetime]:not(.browser-default)[readonly="readonly"]+label,
	input[type=datetime-local]:not(.browser-default):disabled+label,
	input[type=datetime-local]:not(.browser-default)[readonly="readonly"]+label,
	input[type=tel]:not(.browser-default):disabled+label,
	input[type=tel]:not(.browser-default)[readonly="readonly"]+label,
	input[type=number]:not(.browser-default):disabled+label,
	input[type=number]:not(.browser-default)[readonly="readonly"]+label,
	input[type=search]:not(.browser-default):disabled+label,
	input[type=search]:not(.browser-default)[readonly="readonly"]+label,
	textarea.materialize-textarea:disabled+label,
	textarea.materialize-textarea[readonly="readonly"]+label {
		color: rgba(0,0,0,0.42);
	}
	input:not([type]):focus:not([readonly]),
	input[type=text]:not(.browser-default):focus:not([readonly]),
	input[type=password]:not(.browser-default):focus:not([readonly]),
	input[type=email]:not(.browser-default):focus:not([readonly]),
	input[type=url]:not(.browser-default):focus:not([readonly]),
	input[type=time]:not(.browser-default):focus:not([readonly]),
	input[type=date]:not(.browser-default):focus:not([readonly]),
	input[type=datetime]:not(.browser-default):focus:not([readonly]),
	input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
	input[type=tel]:not(.browser-default):focus:not([readonly]),
	input[type=number]:not(.browser-default):focus:not([readonly]),
	input[type=search]:not(.browser-default):focus:not([readonly]),
	textarea.materialize-textarea:focus:not([readonly]) {
		border-bottom: 1px solid #d50000;
		box-shadow: 0 1px 0 0 #d50000;
		-webkit-box-shadow: 0 1px 0 0 #d50000;
	}
	input:not([type]):focus:not([readonly])+label,
	input[type=text]:not(.browser-default):focus:not([readonly])+label,
	input[type=password]:not(.browser-default):focus:not([readonly])+label,
	input[type=email]:not(.browser-default):focus:not([readonly])+label,
	input[type=url]:not(.browser-default):focus:not([readonly])+label,
	input[type=time]:not(.browser-default):focus:not([readonly])+label,
	input[type=date]:not(.browser-default):focus:not([readonly])+label,
	input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
	input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
	input[type=tel]:not(.browser-default):focus:not([readonly])+label,
	input[type=number]:not(.browser-default):focus:not([readonly])+label,
	input[type=search]:not(.browser-default):focus:not([readonly])+label,
	textarea.materialize-textarea:focus:not([readonly])+label {
		color: #d50000;
	}
	input:not([type]).validate+label,
	input[type=text]:not(.browser-default).validate+label,
	input[type=password]:not(.browser-default).validate+label,
	input[type=email]:not(.browser-default).validate+label,
	input[type=url]:not(.browser-default).validate+label,
	input[type=time]:not(.browser-default).validate+label,
	input[type=date]:not(.browser-default).validate+label,
	input[type=datetime]:not(.browser-default).validate+label,
	input[type=datetime-local]:not(.browser-default).validate+label,
	input[type=tel]:not(.browser-default).validate+label,
	input[type=number]:not(.browser-default).validate+label,
	input[type=search]:not(.browser-default).validate+label,
	textarea.materialize-textarea.validate+label {
		width: 100%
	}
	input:not([type]).invalid+label:after,
	input:not([type]).valid+label:after,
	input[type=text]:not(.browser-default).invalid+label:after,
	input[type=text]:not(.browser-default).valid+label:after,
	input[type=password]:not(.browser-default).invalid+label:after,
	input[type=password]:not(.browser-default).valid+label:after,
	input[type=email]:not(.browser-default).invalid+label:after,
	input[type=email]:not(.browser-default).valid+label:after,
	input[type=url]:not(.browser-default).invalid+label:after,
	input[type=url]:not(.browser-default).valid+label:after,
	input[type=time]:not(.browser-default).invalid+label:after,
	input[type=time]:not(.browser-default).valid+label:after,
	input[type=date]:not(.browser-default).invalid+label:after,
	input[type=date]:not(.browser-default).valid+label:after,
	input[type=datetime]:not(.browser-default).invalid+label:after,
	input[type=datetime]:not(.browser-default).valid+label:after,
	input[type=datetime-local]:not(.browser-default).invalid+label:after,
	input[type=datetime-local]:not(.browser-default).valid+label:after,
	input[type=tel]:not(.browser-default).invalid+label:after,
	input[type=tel]:not(.browser-default).valid+label:after,
	input[type=number]:not(.browser-default).invalid+label:after,
	input[type=number]:not(.browser-default).valid+label:after,
	input[type=search]:not(.browser-default).invalid+label:after,
	input[type=search]:not(.browser-default).valid+label:after,
	textarea.materialize-textarea.invalid+label:after,
	textarea.materialize-textarea.valid+label:after {
		display: none;
	}
	input:not([type]).invalid+label.active:after,
	input:not([type]).valid+label.active:after,
	input[type=text]:not(.browser-default).invalid+label.active:after,
	input[type=text]:not(.browser-default).valid+label.active:after,
	input[type=password]:not(.browser-default).invalid+label.active:after,
	input[type=password]:not(.browser-default).valid+label.active:after,
	input[type=email]:not(.browser-default).invalid+label.active:after,
	input[type=email]:not(.browser-default).valid+label.active:after,
	input[type=url]:not(.browser-default).invalid+label.active:after,
	input[type=url]:not(.browser-default).valid+label.active:after,
	input[type=time]:not(.browser-default).invalid+label.active:after,
	input[type=time]:not(.browser-default).valid+label.active:after,
	input[type=date]:not(.browser-default).invalid+label.active:after,
	input[type=date]:not(.browser-default).valid+label.active:after,
	input[type=datetime]:not(.browser-default).invalid+label.active:after,
	input[type=datetime]:not(.browser-default).valid+label.active:after,
	input[type=datetime-local]:not(.browser-default).invalid+label.active:after,
	input[type=datetime-local]:not(.browser-default).valid+label.active:after,
	input[type=tel]:not(.browser-default).invalid+label.active:after,
	input[type=tel]:not(.browser-default).valid+label.active:after,
	input[type=number]:not(.browser-default).invalid+label.active:after,
	input[type=number]:not(.browser-default).valid+label.active:after,
	input[type=search]:not(.browser-default).invalid+label.active:after,
	input[type=search]:not(.browser-default).valid+label.active:after,
	textarea.materialize-textarea.invalid+label.active:after,
	textarea.materialize-textarea.valid+label.active:after {
		display: block;
	}
	input.valid:not([type]),
	input.valid:not([type]):focus,
	input[type=text].valid:not(.browser-default),
	input[type=text].valid:not(.browser-default):focus,
	input[type=password].valid:not(.browser-default),
	input[type=password].valid:not(.browser-default):focus,
	input[type=email].valid:not(.browser-default),
	input[type=email].valid:not(.browser-default):focus,
	input[type=url].valid:not(.browser-default),
	input[type=url].valid:not(.browser-default):focus,
	input[type=time].valid:not(.browser-default),
	input[type=time].valid:not(.browser-default):focus,
	input[type=date].valid:not(.browser-default),
	input[type=date].valid:not(.browser-default):focus,
	input[type=datetime].valid:not(.browser-default),
	input[type=datetime].valid:not(.browser-default):focus,
	input[type=datetime-local].valid:not(.browser-default),
	input[type=datetime-local].valid:not(.browser-default):focus,
	input[type=tel].valid:not(.browser-default),
	input[type=tel].valid:not(.browser-default):focus,
	input[type=number].valid:not(.browser-default),
	input[type=number].valid:not(.browser-default):focus,
	input[type=search].valid:not(.browser-default),
	input[type=search].valid:not(.browser-default):focus,
	textarea.materialize-textarea.valid,
	textarea.materialize-textarea.valid:focus,
	.select-wrapper.valid > input.select-dropdown {
		border-bottom: 1px solid #4CAF50;
		-webkit-box-shadow: 0 1px 0 0 #4CAF50;
		box-shadow: 0 1px 0 0 #4CAF50;
	}
	input.invalid:not([type]),
	input.invalid:not([type]):focus,
	input[type=text].invalid:not(.browser-default),
	input[type=text].invalid:not(.browser-default):focus,
	input[type=password].invalid:not(.browser-default),
	input[type=password].invalid:not(.browser-default):focus,
	input[type=email].invalid:not(.browser-default),
	input[type=email].invalid:not(.browser-default):focus,
	input[type=url].invalid:not(.browser-default),
	input[type=url].invalid:not(.browser-default):focus,
	input[type=time].invalid:not(.browser-default),
	input[type=time].invalid:not(.browser-default):focus,
	input[type=date].invalid:not(.browser-default),
	input[type=date].invalid:not(.browser-default):focus,
	input[type=datetime].invalid:not(.browser-default),
	input[type=datetime].invalid:not(.browser-default):focus,
	input[type=datetime-local].invalid:not(.browser-default),
	input[type=datetime-local].invalid:not(.browser-default):focus,
	input[type=tel].invalid:not(.browser-default),
	input[type=tel].invalid:not(.browser-default):focus,
	input[type=number].invalid:not(.browser-default),
	input[type=number].invalid:not(.browser-default):focus,
	input[type=search].invalid:not(.browser-default),
	input[type=search].invalid:not(.browser-default):focus,
	textarea.materialize-textarea.invalid,
	textarea.materialize-textarea.invalid:focus,
	.select-wrapper.invalid > input.select-dropdown {
		border-bottom: 1px solid #F44336;
		box-shadow: 0 1px 0 0 #F44336;
		-webkit-box-shadow: 0 1px 0 0 #F44336;
	}
	input:not([type]).valid+label:after,
	input:not([type]):focus.valid+label:after,
	input[type=text]:not(.browser-default).valid+label:after,
	input[type=text]:not(.browser-default):focus.valid+label:after,
	input[type=password]:not(.browser-default).valid+label:after,
	input[type=password]:not(.browser-default):focus.valid+label:after,
	input[type=email]:not(.browser-default).valid+label:after,
	input[type=email]:not(.browser-default):focus.valid+label:after,
	input[type=url]:not(.browser-default).valid+label:after,
	input[type=url]:not(.browser-default):focus.valid+label:after,
	input[type=time]:not(.browser-default).valid+label:after,
	input[type=time]:not(.browser-default):focus.valid+label:after,
	input[type=date]:not(.browser-default).valid+label:after,
	input[type=date]:not(.browser-default):focus.valid+label:after,
	input[type=datetime]:not(.browser-default).valid+label:after,
	input[type=datetime]:not(.browser-default):focus.valid+label:after,
	input[type=datetime-local]:not(.browser-default).valid+label:after,
	input[type=datetime-local]:not(.browser-default):focus.valid+label:after,
	input[type=tel]:not(.browser-default).valid+label:after,
	input[type=tel]:not(.browser-default):focus.valid+label:after,
	input[type=number]:not(.browser-default).valid+label:after,
	input[type=number]:not(.browser-default):focus.valid+label:after,
	input[type=search]:not(.browser-default).valid+label:after,
	input[type=search]:not(.browser-default):focus.valid+label:after,
	textarea.materialize-textarea.valid+label:after,
	textarea.materialize-textarea:focus.valid+label:after,
	.select-wrapper.valid+label:after {
		content: attr(data-success);
		color: #4CAF50;
		opacity: 1;
		transform: translateY(9px);
		-webkit-transform: translateY(9px);
	}
	input:not([type]).invalid+label:after,
	input:not([type]):focus.invalid+label:after,
	input[type=text]:not(.browser-default).invalid+label:after,
	input[type=text]:not(.browser-default):focus.invalid+label:after,
	input[type=password]:not(.browser-default).invalid+label:after,
	input[type=password]:not(.browser-default):focus.invalid+label:after,
	input[type=email]:not(.browser-default).invalid+label:after,
	input[type=email]:not(.browser-default):focus.invalid+label:after,
	input[type=url]:not(.browser-default).invalid+label:after,
	input[type=url]:not(.browser-default):focus.invalid+label:after,
	input[type=time]:not(.browser-default).invalid+label:after,
	input[type=time]:not(.browser-default):focus.invalid+label:after,
	input[type=date]:not(.browser-default).invalid+label:after,
	input[type=date]:not(.browser-default):focus.invalid+label:after,
	input[type=datetime]:not(.browser-default).invalid+label:after,
	input[type=datetime]:not(.browser-default):focus.invalid+label:after,
	input[type=datetime-local]:not(.browser-default).invalid+label:after,
	input[type=datetime-local]:not(.browser-default):focus.invalid+label:after,
	input[type=tel]:not(.browser-default).invalid+label:after,
	input[type=tel]:not(.browser-default):focus.invalid+label:after,
	input[type=number]:not(.browser-default).invalid+label:after,
	input[type=number]:not(.browser-default):focus.invalid+label:after,
	input[type=search]:not(.browser-default).invalid+label:after,
	input[type=search]:not(.browser-default):focus.invalid+label:after,
	textarea.materialize-textarea.invalid+label:after,
	textarea.materialize-textarea:focus.invalid+label:after,
	.select-wrapper.invalid+label:after {
		content: attr(data-error);
		color: #F44336;
		opacity: 1;
		transform: translateY(9px);
		-webkit-transform: translateY(9px);
	}
	input:not([type])+label:after,
	input[type=text]:not(.browser-default)+label:after,
	input[type=password]:not(.browser-default)+label:after,
	input[type=email]:not(.browser-default)+label:after,
	input[type=url]:not(.browser-default)+label:after,
	input[type=time]:not(.browser-default)+label:after,
	input[type=date]:not(.browser-default)+label:after,
	input[type=datetime]:not(.browser-default)+label:after,
	input[type=datetime-local]:not(.browser-default)+label:after,
	input[type=tel]:not(.browser-default)+label:after,
	input[type=number]:not(.browser-default)+label:after,
	input[type=search]:not(.browser-default)+label:after,
	textarea.materialize-textarea+label:after,
	.select-wrapper+label:after {
		display: block;
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		opacity: 0;
		transition: .2s opacity ease-out, .2s color ease-out;
		-webkit-transition: .2s opacity ease-out, .2s color ease-out;
	}
	textarea {
		width: 100%;
		height: 3rem;
		background-color: transparent;
	}
	textarea.materialize-textarea {
		overflow-y: hidden;
		padding: .8rem 0 1.6rem 0;
		resize: none;
		min-height: 3rem;
	}
	textarea.materialize-textarea.validate+label {
		height: 100%;
	}
	textarea.materialize-textarea.validate+label::after {
		top: calc(100% - 12px);
	}
	textarea.materialize-textarea.validate+label:not(.label-icon).active {
		transform:translateY(-25px);
		-webkit-transform:translateY(-25px);
	}
	.hiddendiv {
		display: none;
		white-space: pre-wrap;
		word-wrap: break-word;
		overflow-wrap: break-word;
		padding-top: 1.2rem;
		position: absolute;
		top: 0;
	}
	/* @end */	
	/* @group radio and checkbox */
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}
	[type="checkbox"]+label {
		position: relative;
		padding: 1px 0 0 28px;
		cursor: pointer;
		color: #263238;
		display: inline-block;
		height: 20px;
		line-height: 1.4;
		font-size: 1rem;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
	[type="checkbox"]+label:before,
	[type="checkbox"]:not(.filled-in)+label:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 15px;
		height: 15px;
		z-index: 0;
		border: 2px solid #cfd8dc;
		border-radius: 1px;
		margin-top: 2px;
		transition:.2s;
		-webkit-transition: .2s;
	}
	[type="checkbox"]:not(.filled-in)+label:after {
		border: 0;
		transform: scale(0);
		-webkit-transform: scale(0);
	}
	[type="checkbox"]:not(:checked):disabled+label:before {
		border: none;
		background-color: rgba(0,0,0,0.42);
	}
	[type="checkbox"].tabbed:focus+label:after {
		-webkit-transform: scale(1);
		transform: scale(1);
		border: 0;
		border-radius: 50%;
		-webkit-box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
		box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
		background-color: rgba(0,0,0,0.1);
	}
	[type="checkbox"]:checked+label:before {
		top: -8px;
		left: -4px;
		width: 10px;
		height: 20px;
		border-top: 2px solid transparent;
		border-left: 2px solid transparent;
		border-right: 2px solid #d50000;
		border-bottom: 2px solid #d50000;
		transform: rotate(40deg);
		-webkit-transform: rotate(40deg);
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
	}
	[type="checkbox"]:checked:disabled+label:before {
		border-right: 2px solid rgba(0,0,0,0.42);
		border-bottom: 2px solid rgba(0,0,0,0.42);
	}
	[type="checkbox"]:indeterminate+label:before {
		top: -11px;
		left: -12px;
		width: 10px;
		height: 22px;
		border-top: none;
		border-left: none;
		border-right: 2px solid #d50000;
		border-bottom: none;
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
	}
	[type="checkbox"]:indeterminate:disabled+label:before {
		border-right: 2px solid rgba(0,0,0,0.42);
		background-color: transparent;
	}
	[type="checkbox"].filled-in+label:after {
		border-radius: 2px;
	}
	[type="checkbox"].filled-in+label:before,
	[type="checkbox"].filled-in+label:after {
		content: '';
		left: 0;
		position: absolute;
		transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
		-webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
		z-index:1;
	}
	[type="checkbox"].filled-in:not(:checked)+label:before {
		width: 0;
		height: 0;
		border: 3px solid transparent;
		left: 6px;
		top: 10px;
		-webkit-transform: rotateZ(37deg);
		transform: rotateZ(37deg);
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
	[type="checkbox"].filled-in:not(:checked)+label:after {
		height: 20px;
		width: 20px;
		background-color: transparent;
		border: 2px solid #5a5a5a;
		top: 0px;
		z-index: 0;
	}
	[type="checkbox"].filled-in:checked+label:before {
		top: 0;
		left: 1px;
		width: 8px;
		height: 13px;
		border-top: 2px solid transparent;
		border-left: 2px solid transparent;
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		transform: rotateZ(37deg);
		-webkit-transform: rotateZ(37deg);
		transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
	}
	[type="checkbox"].filled-in:checked+label:after {
		top:0;
		width:20px;
		height:20px;
		border:2px solid #d50000;
		background-color:#d50000;
		z-index:0;
	}
	[type="checkbox"].filled-in.tabbed:focus+label:after {
		border-radius:2px;
		border-color:#5a5a5a;
		background-color:rgba(0,0,0,0.1);
	}
	[type="checkbox"].filled-in.tabbed:checked:focus+label:after {
		border-radius:2px;
		background-color:#d50000;
		border-color:#d50000;
	}
	[type="checkbox"].filled-in:disabled:not(:checked)+label:before {
		background-color:transparent;
		border:2px solid transparent;
	}
	[type="checkbox"].filled-in:disabled:not(:checked)+label:after {
		border-color:transparent;
		background-color:#949494;
	}
	[type="checkbox"].filled-in:disabled:checked+label:before {
		background-color:transparent;
	}
	[type="checkbox"].filled-in:disabled:checked+label:after {
		background-color:#949494;
		border-color:#949494;
	}
	
	
	/*
	[type="radio"]:not(:checked),
	[type="radio"]:checked {
		position: absolute;
		opacity: 0;
		pointer-events: none
	}
	[type="radio"]:not(:checked)+label,
	[type="radio"]:checked+label {
		position: relative;
		padding-left: 35px;
		cursor: pointer;
		display: inline-block;
		height: 25px;
		line-height: 25px;
		font-size: 1rem;
		transition: .28s ease;
		-webkit-transition: .28s ease;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
	[type="radio"]+label:before,
	[type="radio"]+label:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		margin: 4px;
		width: 16px;
		height: 16px;
		z-index: 0;
		transition: .28s ease;
		-webkit-transition: .28s ease;
	}
	[type="radio"]:not(:checked)+label:before,
	[type="radio"]:not(:checked)+label:after,
	[type="radio"]:checked+label:before,
	[type="radio"]:checked+label:after,
	[type="radio"].with-gap:checked+label:before,
	[type="radio"].with-gap:checked+label:after {
		border-radius: 50%;
	}
	[type="radio"]:not(:checked)+label:before,
	[type="radio"]:not(:checked)+label:after {
		border: 2px solid #cfd8dc;
	}
	[type="radio"]:not(:checked)+label:after {
		transform: scale(0);
		-webkit-transform: scale(0);
	}
	[type="radio"]:checked+label:before {
		border: 2px solid transparent;
	}
	[type="radio"]:checked+label:after,
	[type="radio"].with-gap:checked+label:before,
	[type="radio"].with-gap:checked+label:after {
		border: 2px solid #d50000;
	}
	[type="radio"]:checked+label:after,
	[type="radio"].with-gap:checked+label:after {
		background-color: #d50000;
	}
	[type="radio"]:checked+label:after {
		transform: scale(1.02);
		-webkit-transform: scale(1.02);
	}
	[type="radio"].with-gap:checked+label:after {
		transform: scale(0.5);
		-webkit-transform: scale(0.5);
	}
	[type="radio"].tabbed:focus+label:before {
		box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
		-webkit-box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
	}
	[type="radio"].with-gap:disabled:checked+label:before {
		border: 2px solid rgba(0,0,0,0.42);
	}
	[type="radio"].with-gap:disabled:checked+label:after {
		border: none;
		background-color: rgba(0,0,0,0.42);
	}
	[type="radio"]:disabled:not(:checked)+label:before,
	[type="radio"]:disabled:checked+label:before {
		background-color: transparent;
		border-color: rgba(0,0,0,0.42);
	}
	[type="radio"]:disabled+label {
		color: rgba(0,0,0,0.42);
	}
	[type="radio"]:disabled:not(:checked)+label:before {
		border-color: rgba(0,0,0,0.42);
	}
	[type="radio"]:disabled:checked+label:after {
		background-color: rgba(0,0,0,0.42);
		border-color: #cfd8dc;
	}*/
	/* @end */
	/* @group switch */
	.switch,.switch *{-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
	.switch label{cursor:pointer}
	.switch label input[type=checkbox]{opacity:0;width:0;height:0}
	.switch label input[type=checkbox]:checked+.lever{background-color:#84c7c1}
	.switch label input[type=checkbox]:checked+.lever:before,
	.switch label input[type=checkbox]:checked+.lever:after{left:18px}
	.switch label input[type=checkbox]:checked+.lever:after{background-color:#d50000}
	.switch label .lever{content:"";display:inline-block;position:relative;width:36px;height:14px;background-color:rgba(0,0,0,0.38);border-radius:15px;margin-right:10px;-webkit-transition:background 0.3s ease;transition:background 0.3s ease;vertical-align:middle;margin:0 16px}
	.switch label .lever:before,.switch label .lever:after{content:"";position:absolute;display:inline-block;width:20px;height:20px;border-radius:50%;left:0;top:-3px;-webkit-transition:left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;transition:left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;transition:left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;transition:left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease}
	.switch label .lever:before{background-color:rgba(38,166,154,0.15)}
	.switch label .lever:after{background-color:#F1F1F1;-webkit-box-shadow:0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);box-shadow:0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12)}
	input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,
	input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before{-webkit-transform:scale(2.4);transform:scale(2.4);background-color:rgba(38,166,154,0.15)}
	input[type=checkbox]:not(:disabled) ~ .lever:active:before,
	input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::before{-webkit-transform:scale(2.4);transform:scale(2.4);background-color:rgba(0,0,0,0.08)}
	
	.switch input[type=checkbox][disabled]+.lever{cursor:default;background-color:rgba(0,0,0,0.12)}
	.switch label input[type=checkbox][disabled]+.lever:after,
	.switch label input[type=checkbox][disabled]:checked+.lever:after{background-color:#949494}
	/* @end */
	/* @group dropdown */
	.dropdown-content {
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
	}
	.dropdown-content {
		background-color: #fff;
		margin:0;display:none;
		min-width:100px;
		max-height:650px;
		overflow-y:auto;
		opacity:0;
		position:absolute;
		z-index:999;
		will-change: width, height;
	}
	.dropdown-content li {
		clear:both;
		color:rgba(0,0,0,0.87);
		cursor:pointer;min-height:50px;
		line-height:1.5rem;
		width:100%;
		text-align:left;
		text-transform: none
	}
	.dropdown-content li:hover,
	.dropdown-content li.active,
	.dropdown-content li.selected {
		background-color:#eee
	}
	.dropdown-content li.active.selected {
		background-color: #e1e1e1;
	}
	.dropdown-content li.divider {
		min-height:0;
		height:1px
	}
	.dropdown-content li > a,
	.dropdown-content li > span {
		font-size:16px;
		color:#d50000;
		display:block;
		line-height:22px;
		padding:14px 16px
	}
	.dropdown-content li > span > label {
		top:1px;
		left:0;
		height:18px
	}
	.dropdown-content li > a > i {
		height:inherit;
		line-height:inherit;
		float:left;
		margin:0 24px 0 0;
		width:24px
	}
	
	select {
		display: none;
	}
	select.browser-default {
		display: block;
	}
	select {
		background-color: rgba(255,255,255,0.9);
		width: 100%;
		padding: 5px;
		border: 1px solid #f2f2f2;
		border-radius: 2px;
		height: 3rem;
	}
	
	.select-label {position:absolute}
	.select-wrapper {position:relative}
	.select-wrapper.valid+label,
	.select-wrapper.invalid+label{width:100%;pointer-events:none}
	.select-wrapper input.select-dropdown{position:relative;cursor:pointer;background-color:transparent;border:none;border-bottom:1px solid #78909c;outline:none;height:3rem;line-height:3rem;width:100%;font-size:1rem;margin:0 0 20px 0;padding:0;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
	.select-wrapper span.caret{color:initial;position:absolute;right:0;top:0;bottom:0;height:10px;margin:auto 0;font-size:10px;line-height:10px}
	.select-wrapper+label{position:absolute;top:-26px;font-size:.8rem}
	
	select:disabled{color:rgba(0,0,0,0.42)}
	.select-wrapper.disabled span.caret,.select-wrapper.disabled+label{color:rgba(0,0,0,0.42)}
	.select-wrapper input.select-dropdown:disabled{color:rgba(0,0,0,0.42);cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
	.select-wrapper i{color:rgba(0,0,0,0.3)}
	.select-dropdown li.disabled,.select-dropdown li.disabled>span,.select-dropdown li.optgroup{color:rgba(0,0,0,0.3);background-color:transparent}
	.select-dropdown.dropdown-content li.active{background-color:transparent}
	.select-dropdown.dropdown-content li:hover{background-color:rgba(0,0,0,0.06)}
	.select-dropdown.dropdown-content li.selected{background-color:rgba(0,0,0,0.03)}
	.prefix ~ .select-wrapper{margin-left:3rem;width:92%;width:calc(100% - 3rem)}
	.prefix ~ label{margin-left:3rem}
	.select-dropdown li img{height:40px;width:40px;margin:5px 15px;float:right}
	.select-dropdown li.optgroup{border-top:1px solid #eee}
	.select-dropdown li.optgroup.selected>span{color:rgba(0,0,0,0.7)}
	.select-dropdown li.optgroup>span{color:rgba(0,0,0,0.4)}
	.select-dropdown li.optgroup ~ li.optgroup-option{padding-left:1rem}
	/* @end */
	/* @group filefield */
	.file-field{position:relative}
	.file-field .file-path-wrapper{overflow:hidden;padding-left:10px}
	.file-field input.file-path{width:100%}
	.file-field .btn,
	.file-field .btn-large{float:left;height:3rem;line-height:3rem}
	.file-field span{cursor:pointer}
	.file-field input[type=file]{position:absolute;top:0;right:0;left:0;bottom:0;width:100%;margin:0;padding:0;font-size:20px;cursor:pointer;opacity:0;filter:alpha(opacity=0)}
	.file-field input[type=file]::-webkit-file-upload-button{display:none}
	.range-field{position:relative}
	/* @end */
	
.field-message {
	font-size: .85em !important;
}

button {
	background-color: #d50000;
	display: inline-block;
    font: 1.2em/1.0em 'Roboto';
    font-weight: 300;
	color: #ffffff;
	text-align: center;
    padding: 11px 32px 13px 32px;
    margin: 0;
    cursor: pointer;
    transition: .3s;
}
button:active {
	position: relative;
	top: 1px;
}
button:hover {
	color: #ffffff;
	background-color: #b50000;
}
button:focus {
	outline: none;
}

button.b-reset {
	font: 1em/1.0em 'Roboto';
	font-weight: 300;
	color: #b0bec5;
	background-color: white;
	margin-left: 16px;
	padding: 0;
	vertical-align: middle;
}
button.b-reset:hover {
	color: #78909c;
	background-color: white;
}

a.button:link,
a.button:active,
a.button:visited {
	background-color: #d50000;
	display: inline-block;
	font: 1.2em/1.0em 'Roboto';
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	padding: 11px 32px 13px 32px;
	margin: 0;
	cursor: pointer;
	transition: .3s;
}
a.button:active  {
	position: relative;
	top: 1px;
}
a.button:hover {
	color: #ffffff;
	background-color: #b50000;
}

a.button-reset:link,
a.button-reset:active,
a.button-reset:visited {
	background-color: white;
	display: inline-block;
	font: 1em/1.0em 'Roboto';
	font-weight: 300;
	color: #b0bec5;
	margin-left: 16px;
	padding: 0;
	vertical-align: middle;
	border: none;
}
a.button-reset:hover {
	color: #78909c;
}
button:disabled,
.disabled {
	color: #ffffff !important;
	background-color: #cfd8dc !important;
	cursor: auto !important;
	border-bottom: none !important;
}
/* @end */

/* @group modal */
.md-modal {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: #ffffff;
	overflow: auto;
	opacity: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	z-index: 20;
}
.md-modal-content {
	margin: 16px;
}
.md-modal-content > h4 {
	margin-right: 16px;
}
.md-b-info {
    max-width: 300px !important;
	max-height: 157px !important;
}
.md-b-reg {
    max-width: 300px !important;
	max-height: 452px !important;
}
.md-b-plan {
    max-width: 300px !important;
	max-height: 460px !important;
}

.md-modal-close {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 12px;
	right: 12px;
	cursor: pointer;
	display: block;
	background: url('/images/icon/ico_close-md.svg') no-repeat;
}
#md-overlay {
	z-index: 19;
	position: fixed;
	background-color: rgba(0, 0, 0, .35);
	width: 100%; 
	height: 100%;
	top: 0;
	left: 0;
	cursor: default;
	display: none;
}
body.noscroll {
    overflow: hidden !important;
}
/* @end */

/* @group header */
#menuopen,
#menuclose {
	cursor: pointer;
}
ul.h-menu {
	display: none;
	list-style-type: none;
	position: absolute;
	padding: 8px;
	margin: -8px -8px 0 0;
	right: 0;
	background-color: rgba(255, 255, 255, 1);
}
ul.h-menu li {
	text-align: right;
	margin: 0 8px 12px 0;
}
ul.h-menu li:first-child {
	text-align: right;
	margin-right: 0;
}
ul.h-menu li > .h-close {
	display: block;
	width: 40px;
	height: 40px;
	float: right;
	margin-bottom: 16px;
	background: url('/images/icon/ico_close-menu.svg') no-repeat right top;
}
ul.h-menu li:last-child {
	margin-bottom: 8px;
}
ul.h-menu li > a {
	white-space: nowrap;
}

.h-search,
.h-search-index {
	display: none;
	grid-column: 2 / span 10;
	grid-row-start: 1;
	align-content: start;
	max-height: 120px;
	background-color: rgba(255, 255, 255, .9);
}
.h-search-index {
	display: block;
	background-color: transparent;
}
.h-search-block {
	max-width: 550px;
	margin: 32px 0 16px 0;
}
ul.search-tip {
	position: absolute;
	width: 100%;
	background: #ffffff;
	padding: 6px 0;
	margin-top: -5px;
}
ul.search-tip li {
	line-height: 1.8em;
	cursor: default;
}
ul.search-tip li:hover {
	background-color: #f5f5f5;
}
/* @end */

/* @group footer */
.f-copyright {
	display: grid;
	grid-column: 2 / span 10;
	align-content: center;
	margin-bottom: 32px !important;
}
.f-scona {
	display: grid;
	grid-column: 12 / span 2;
	justify-content: end;
	height: 32px;
	margin-bottom: 32px;
}
.f-scona > a {
	width: 32px;
	height: 32px;
	background: url('/images/logo_scona.svg') no-repeat left top;
}
/* @end */

/* @group index */
	.i-notice-img { 
		background: url('/images/_temporary/index-img1.jpg') no-repeat center center / cover;
	}
	.i-notice-link { 
		grid-column: 6 / span 6;
		grid-row: 3;
		margin-top: 16px;
		justify-self: end;
	}
/* @end */

/* @group black-skin */
body.black-skin {
	background-color: #000;
}
body.black-skin .h-logo,
body.black-skin .h-close {
	filter: brightness(1000%);
}
body.black-skin .h-menu {
	background-color: rgba(0, 0, 0, 1);
}
body.black-skin .h-search {
	background-color: rgba(0, 0, 0, .9);
}
body.black-skin .h-search input {
	color: #ffffff !important;
}
body.black-skin h1,
body.black-skin h3,
body.black-skin h4,
body.black-skin p,
body.black-skin a {
	color: #ffffff;	
}
body.black-skin .f-copyright {
	color: #777777 !important;
}
body.black-skin .f-scona {
	opacity: .5;
	filter: alpha(opacity=50);
}

body.black-skin .md-modal h4,
body.black-skin .md-modal p,
body.black-skin .md-modal a,
body.black-skin .md-modal input {
	color: #263238 !important;
}
body.black-skin .md-modal p.c-gray {
	color: #78909c !important;
}
/* @end */


/* @group adaptive change */
@media only screen and (min-width: 480px) {
	.gr-rc {
		grid-column: 5 / span 9;
	}
	
	body.index main {
		grid-template-rows: minmax(100px, 1fr) 1fr 1fr;
	}	
	h1.slogan {
		font: 1.5em/1.3em Roboto;
		font-weight: 300;
	}
	
	.md-b-info {
	    max-width: 320px !important;
	}
}
@media only screen and (min-width: 600px) {
	.gr-lc {
		grid-column-end: span 10;
	}
	.gr-rc {
		grid-column: 7 / span 7;
	}
	
	.e-logo-img {
		grid-column: 2 / span 12;
	}
	.e-logo-info {
		grid-column: 2 / span 5;
		margin-bottom: 0;
	}
	.e-logo-file {
		grid-column: 7 / span 7;
	}
	
	body.index main {
		grid-template-rows: minmax(120px, 1fr) 2fr 1fr;
	}	
	h1.slogan {
		grid-column: 2 / span 10;
		font: 2.2em/1.3em Roboto;
		font-weight: 300;
	}
	
	.board-count {
		grid-column: span 9;
	}
	.board-sort-count {
		grid-column: 9;	
	}
	.board-date {
		grid-column: span 4;
	}
	
	.md-b-plan {
	    max-width: 600px !important;
		max-height: 478px !important;
	}
	.md-b-plan {
		max-height: 465px !important;
	}
	.e-tariff-block {
		display: inline-block;
		width: 176px;
		margin-right: 16px;
		margin-bottom: 0;
	}
	.e-tariff-block:last-child {
		margin-right: 0;
	}
}
@media only screen and (min-width: 800px) {
	.e-logo-img {
		grid-column: 2 / span 7;
		grid-row: span 3;
		margin-bottom: 0;
	}
	.e-logo-info,
	.e-logo-file {
		grid-column: 9 / span 5;
	}
	.e-logo-info {
		margin-bottom: 32px;
	}
}
@media only screen and (min-width: 1024px) {
	.gr-lc {
		grid-column-end: span 8;
		padding-right: 64px;
	}
	.gr-rc {
		grid-column: 10 / span 4;
	}
	.e-facts{
		grid-row: 3 / span 3;
	}
	
	.board-name {
		grid-column: 2 / span 7;
		margin: 6px 0 0 42px;
	}
	.board-count {
		grid-column: 9 / span 1;
		margin-top: 6px;
	}
	.board-date {
		grid-column: 10 / span 2;
		margin-top: 6px;
	}
	.board-inst {
		grid-column: 12 / span 2;
	}
	.board-sort-date {
		grid-column: 11;	
	}
}
@media only screen and (min-width: 1280px) {
	.e-logo-img {
		grid-column: 2 / span 5;
		grid-row: span 1;
	}
	.e-logo-info {
		grid-column: 7 / span 3;
		margin-bottom: 0;
	}
	.e-logo-file {
		grid-column: 10 / span 4;
	}
	
}
@media only screen and (min-width: 1600px) {
	body,
	main,
	footer,
	.gr-full {
		grid-template-columns: 8% repeat(12, minmax(min-content, 1fr)) 8%;
	}
	
	h1 { 
		font: 3.1em/1.1em Roboto;
		font-weight: 300;
	}
	h2 {
		font: 2.4em/1.2em Roboto;
		font-weight: 300;
		margin-bottom: 8px;
	}
	h3 {
		font: 1.95em/1.2em Roboto;
		font-weight: 300;
	}
	h4 {
		font: 1.55em/1.3em Roboto;
		font-weight: 300;
	}
	h5 {
		font: 1.3em/1.4em Roboto;
		font-weight: 400;
	}	
	p {
		font: 1.1em/1.6em Roboto;
		font-weight: 300;
	}
	.t-big {
		font: 1.3em/1.5em Roboto;
		font-weight: 300;
	}
	.t-small {
		font: .95em/1.5em Roboto;
		font-weight: 300;
	}
	
	.l-select:before {
		top: 7px;
	}
	
	h1.slogan {
		font: 2.9em/1.3em Roboto;
		font-weight: 300;
	}
	h1.slogan > span {
		padding: 3px 0 3px 0;
	}
	
	.board-name {
		margin: 2px 0 0 42px;
	}
	.board-count {
		margin-top: 7px;
	}
	.board-date {
		margin-top: 7px;
	}
	.board-inst {
		margin-top: 2px;
	}
	
	.md-b-info {
	    max-width: 340px !important;
		max-height: 163px !important;
	}
	.md-b-reg {
		max-height: 459px !important;
	}
	.md-b-plan {
		max-height: 476px !important;
	}	
	.e-tariff-free {
		padding: 6px 0;
	}	
}
@media only screen and (min-width: 1900px) {
}
/* @end */